<sly data-sly-use.template="chinational/components/commons/templates.html"/>

<div class="form-group">
	<sly data-sly-test="${properties.required == 'required'}">
		<input type="${properties.textfieldType}" class = "form-control photo-band-form-textfield ${properties.textfieldType}" 
  			   id="${properties.textfieldName}" name="${properties.textfieldName}" 
  		 	   value="" placeholder="${properties.textfieldvalue}" required>
	</sly>  		 	   
	<sly data-sly-test="${properties.required == 'optional'}">
		<input type="${properties.textfieldType}" class = "form-control photo-band-form-textfield" 
  			   id="${properties.textfieldName}" name="${properties.textfieldName}" 
  		 	   value="" placeholder="${properties.textfieldvalue}">
	</sly>  		 	   
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.textfieldType}"></sly>