<sly data-sly-use.link="org.chi.aem.common.components.model.Link" />    

<div class="blog-content pstn-reltv stickToTop">
	<a data-sly-test="${link.linkUrl != '#'}" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
		<span class="blog-title dblock txt-green tiles_heading_site_color news_heading_hover padding-top-0">
				${properties.headingText || 'Tile Component'}
		</span>
	</a>
	<span data-sly-test="${link.linkUrl == '#'}" class="blog-title dblock txt-green tiles_heading_site_color">
            	${properties.headingText || 'Tile Component'}
	</span>
    <sly data-sly-test="${properties.enterDate}">
		<span class="blog-date txt-green tiles_heading_site_color" data-sly-test="${!properties.dateNotRequired}"
			  data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=properties.enterDate, dateFormat='MMM dd, YYYY'}">
	          ${formatter.formattedDate}
		</span>
    </sly>
    <p data-sly-test="${properties.contentDetail}">${properties.contentDetail}</p>
</div>    
<a data-sly-test="${link.linkUrl != '#'}" class="bold-link stickToBottom" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
	${link.linkText || 'READ MORE'}
</a>
<span data-sly-test="${link.linkUrl == '#'}"  class="bold-link stickToBottom">
            	${link.linkText || 'READ MORE'}
</span>

