<sly data-sly-include="../../commons/newsblogimage.html"></sly>

<div data-sly-resource="${ @path='main-respgrid', resourceType='chinational/components/foundation/responsivegrid'}"></div>
<div data-sly-test="${pageProperties.displayQuoteComponent}"
        data-sly-resource="${ @path='newstemp-quote', resourceType='chinational/components/composites/quoteAndImage'}"></div>
<div data-sly-test="${!pageProperties.hideDynamicComponent}" 
		data-sly-resource="${ @path='newstemp-tiles', resourceType='chinational/components/composites/dynamicTilesNewsListGlobal'}"></div>