
<div class="row"  data-sly-test="${pageProperties.imageSrc}">
    <div class="col-sm-12">
        <div class="full-image">
            <div>
                <picture>
                    <img class="image-responsive" src="${pageProperties.imageSrc}">
                </picture>
            </div>
            <div class="padding-5" data-sly-test="${pageProperties.imageCaption}">
                <p class="light-txt">${pageProperties.imageCaption}</p>
            </div>
        </div>
    </div>
</div>

<sly data-sly-test="${(wcmmode.edit || wcmmode.design) && (pageProperties.imageSrc || pageProperties.tileImageSrc)}">
    <p>Edit Header image, if required (this is displayed during edit mode only)</p>
    <div data-sly-test="${pageProperties.imageSrc}"
         data-sly-resource="${ @path='nb-header-image', resourceType='chinational/components/content/imageHeaderNewsBlog'}"></div>
    <div data-sly-test="${pageProperties.tileImageSrc}"
         data-sly-resource="${ @path='nb-tile-image', resourceType='chinational/components/content/imageTileNewsBlog'}"></div>

</sly>

<div data-sly-resource="${ @path='main-respgrid', resourceType='chinational/components/foundation/responsivegrid'}"></div>
<div data-sly-test="${pageProperties.displayQuoteComponent}"
        data-sly-resource="${ @path='newstemp-quote', resourceType='chinational/components/composites/quoteAndImage'}"></div>
<div data-sly-test="${!pageProperties.hideDynamicComponent}" 
		data-sly-resource="${ @path='newstemp-tiles', resourceType='chinational/components/composites/dynamicTilesNewsListGlobal'}"></div>