
<sly data-sly-use.mainnav="org.chi.aem.common.components.model.Navigation"
     data-sly-list.outerNav="${mainnav.items.keySet.iterator}">
    <li class="mobile-menu-li" >
        <a href="##" class="txt-gray">
            <span>${mainnav.items[outerNav][0].title}</span>
            <i class="arrow-down" aria-hidden="true"></i>
        </a>
        <ul class="hidden-menu pstn-abslt bgnd-white">
            <div class="row" data-sly-list.mapNav="${mainnav.items[outerNav][0].childMap.keySet.iterator}">
                <div class="col-md-3">
                    <ul data-sly-list.indNav="${mainnav.items[outerNav][0].childMap[mapNav]}">
                        <li class="${indNav.thirdLevel?'hidden-sm hidden-xs':''}">
                            <a href="${indNav.url}"
                               class="${indNav.thirdLevel?'second-level':'top-level'} ${indNav.seeMoreLink?'second-level-more':''}"
                               >${indNav.title}</a>
                            <i class="hidden-md hidden-lg arrow-down" aria-hidden="true"
                               data-sly-test="${indNav.thirdLevelItems}"></i>
                        </li>
                        <li class="${indNav.thirdLevelItems?'hidden':''}"
                            data-sly-test="${indNav.thirdLevelItems}">
                            <a href="${indNav.url}"
                               class="second-level">${indNav.title}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </li>
</sly>