
<sly data-sly-use.mainnav="org.chi.aem.common.components.model.Navigation"
     data-sly-list.outerNav="${mainnav.items.keySet.iterator}">
    <li class="mobile-menu-li" >
        <a href="##" class="txt-gray">
            <span>${mainnav.items[outerNav][0].title}</span>
            <i class="arrow-down" aria-hidden="true"></i>
        </a>
        <ul class="hidden-menu pstn-abslt bgnd-white">
            <div class="row">
                <ul data-sly-list.indNav="${mainnav.items[outerNav]}">
                    <li class="col-md-6">
                        <a href="${indNav.url}" class="txt-gray">${indNav.title}</a>
                    </li>
                </ul>
            </div>
        </ul>
    </li>
</sly>
