<sly data-sly-use.template="chinational/components/commons/templates.html"
     data-sly-use.contactUs="org.chi.aem.common.components.model.FooterContactUs"/>


  <h4 id="message" data-sly-test="${contactUs.nlButtonText}"></h4>
  <form class="row" data-sly-test="${contactUs.nlButtonText}">
    <div class="col-sm-6 col-md-9">
      <div class="input-box">
        <input type="email" id="senderEmailAddress" name="senderEmailAddress" placeholder="${contactUs.nlPlaceholderText}">
      </div>
    </div>
    <div class="col-sm-2 col-md-3">
      <button type="button" id="contact-us-submit" class="btn btn-primary">${contactUs.nlButtonText}</button>
    </div>
  </form>
  <div class="row contact-info">
    <div class="col-sm-8">
      <span class="list-header">${contactUs.heading}</span>
      <p>
        <span class="dblock">${contactUs.subheading}</span>
        <span>
          <a href="${contactUs.linkUrl}"
             target="${contactUs.targetBlank==true ?'_blank':'_self'}">
            ${contactUs.apptText}
          </a>
         </span>&nbsp;
        <i class="arrow-right"></i>
      </p>
      <div class="newsltter-social" data-sly-list="${contactUs.icons}">
        <a href="${item.linkUrl}" class="sprite ${item.iconType} small-icons"
           target="${item.targetBlank==true ?'_blank':'_self'}">
        </a>
      </div>
    </div>
    <div class="col-sm-4"
         data-sly-resource="${'footerCULinks' @ resourceType='chinational/components/structure/footerLinks', selectors='footerLinksContactUs'}">
    </div>
  </div>

<sly data-sly-call="${template.placeholder @ isEmpty=!currentStyle.heading}"></sly>
