<sly data-sly-use.tile="org.chi.aem.common.components.model.Link"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="carousel-item item slide tablet desktop" style="width: 452px">
    <div class="flex-box">
        <div class="carousel-description carousel-image">
            <div class="main-player">
                <div class="v-container">
                    <div class="video">
                        <div class="link-wrapper">
                            <a href="${tile.linkUrl}"
                               target="${tile.targetBlank==true ?'_blank':'_self'}"
                               data-sly-unwrap="${tile.linkUrl == '#'}">
                                <img src="${properties.imageUrl}"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gutter-top media-text">
                    <span class="main-play-title">${properties.title}</span>

                    <span class="caption">${properties.description}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.imageUrl}"></sly>

