<sly data-sly-use.tile="org.chi.aem.common.components.model.Link"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="component">
    <div class="row bottom-buffer">
        <div class="col-sm-12">
            <div class="sub-Thumbs">
                    <a href="${tile.linkUrl}"
                       target="${tile.targetBlank==true ?'_blank':'_self'}"
                       data-sly-unwrap="${tile.linkUrl == '#'}">
                        <img src="${properties.imageUrl}"/>
                    </a>
            </div>
            <div class="media-text">
                <span class="thumb-titles">${properties.title}</span>
                <span class="thumb-descrsiption">${properties.description}</span>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.imageUrl}"></sly>
