<sly data-sly-use.tile="org.chi.aem.common.components.model.McImageTile"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
	<div class="carousel-item slide item">
	    <div class="flex-box">
	        <div class="carousel-description carousel-image">
	            <div class="image-container mc-image-mobile">
	                <div class="sub-Thumbs" style="background-color: ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'}; border: 15px solid ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'};">
	                    <div class="image mobile-align">
	                        <a href="${tile.linkUrl}" target="${tile.targetBlank==true ?'_blank':'_self'}" data-sly-unwrap="${tile.linkUrl == '#'}">
	                            <img src="${properties.imageUrl}">
	                        </a>
	                    </div>
	                </div>
	                <div class="media-text">
	                    <span class="thumb-titles" data-sly-test="${properties.title}">${properties.title}</span>
	                    <span class="thumb-description a-brief-description" data-sly-test="${properties.description}">${properties.description}</span>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.imageUrl}"></sly>

