<sly data-sly-use.buttonsInRow="org.chi.aem.common.components.model.CompositeButtons" />

<div class="component ${properties.greybgRequired ?'full-bleed-container':''}">
    <div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'} ${properties.greybgRequired ?'light-gray gray-margin-top':''}" >
        <div class="col-sm-12 ${!properties.buttonRowNotRequired ? 'col-md-8' : 'col-md-12'}">
            <div class="memorial ${properties.greybgRequired ?'full-bleed-container-inner-content':''}">
                <h3 data-sly-test="${!properties.headingNotRequired && properties.heading}">
                    ${properties.heading}
                </h3>

                <div data-sly-resource="${'richText' @ resourceType='chinational/components/content/richText', selectors='embeddedRichText'}">
                </div>
                <div class="link-wrapper" data-sly-test="${!properties.linkButtonNotRequired}"
                     data-sly-resource="${'button' @ resourceType='chinational/components/content/button'}">
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-4 content-left" data-sly-test="${!properties.buttonRowNotRequired}">
            <div class="buttons-outer" data-sly-list.eachButton="${buttonsInRow.buttonList}">
                <div class="link-wrapper" data-sly-resource="${eachButton @ resourceType='chinational/components/content/button'}">
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-include="../../commons/bottomOption.html"></sly>
</div>
