<sly data-sly-use.hero="org.chi.aem.common.components.model.Hero"></sly>
<div class="intro-img">
    <span class="banner-curvo"
          style="background-color: ${properties.backgroundColor @ context='styleToken'};"></span>
    <sly data-sly-resource="${'heroimage' @ resourceType='chinational/components/content/image', selectors='embeddedImage'}"></sly>
</div>
<div class="intro-title"
     style="background-color: ${properties.backgroundColor @ context='styleToken'};">
    <div class="title-inner">
	    <sly data-sly-include="photoBandForm.html"></sly>
    </div>
</div>
