<sly data-sly-use.template="chinational/components/commons/templates.html"/>

<div class="component photo-band-with-form">
    <div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
    	<div class="col-xs-12">
	    	<div class="intro">
				<sly data-sly-test="${properties.heroStyle == 'imageform'}" data-sly-include="imageform.html"></sly>
				<sly data-sly-test="${properties.heroStyle == 'videoform'}" data-sly-include="videoform.html"></sly>
	        </div>
        </div>
    </div>
    <sly data-sly-include="../../commons/bottomOption.html"></sly>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.heroStyle}"></sly>