<span class="intro-caption-white">
    ${properties.heading}
</span>
 <form class="row photo-band-form">

   <div class="col-xs-12">
     <div class="form-group">
       <input type="text" class = "form-control" id="" name="name" placeholder="Your First and Last Name" required>
     </div>
   </div>

   <div class="col-xs-12">
     <div class="form-group">
       <input type="email" class = "form-control" id="" name="senderEmailAddress" placeholder="Enter e-mail">
     </div>
   </div>

	<div class="col-xs-12">
		<div class="form-group">
			<select class="form-control photo-band-form-select">
				<option value="SortByMostRecent" selected>Sort By Most Recent</option>
				<option value="third">Third</option>
				<option value="fourth">Fourth</option>
				<option value="fifth">Fifth</option>
				<option value="sixth">Sixth</option>
				<option value="seventh">Seventh</option>
				<option value="eighth">Eighth</option>
			</select>
		</div>
	</div>
	
	<div class="col-xs-12">
		<div class="link-wrapper">
			<a href="#" data-sly-test="${properties.label}"
		   class="learn-more-btn white-border">${properties.label || 'Request Appointment'}</a>
		</div>
	</div>

   <div class="col-xs-12">
	<div class="photo-band-form-button">
   	  <button type="button" id="" class="btn btn-primary">REQUEST APPOINTMENT</button>
   	</div>  
   </div>
 </form>
