<sly data-sly-use.hero="org.chi.aem.common.components.model.Hero"></sly>
<div class="intro-img">
    <span class="banner-curvo"
          style="background-color: ${properties.backgroundColor @ context='styleToken'};"></span>
    <a class="video-button video_popup" id="video" video-url="${hero.videoUrl}" style="cursor: pointer;">
        <!--div class="link-wrapper"-->
            <i class="sprite small-icons icon-large-play-orange"></i>
        <!--/div-->
        <picture>
            <img src="${hero.imageUrl}">
        </picture>
    </a>
</div>
<div class="intro-title"
     style="background-color: ${properties.backgroundColor @ context='styleToken'};">
    <div class="title-inner">
 	    <sly data-sly-include="photoBandForm.html"></sly>
    </div>
</div>
