<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>
<sly data-sly-use.link="org.chi.aem.common.components.model.Link" />

<div  data-sly-test="${properties.selectImage != 'imageRequired'}" class="content-gutter cmp-text">
	<h2>${properties.headingText}</h2>
	${properties.contentDetail @context = 'html'}
	<div  data-sly-test="${properties.selectButton == 'buttonRequired'}" class="link-wrapper">
		<a class="learn-more-btn white-border" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
			<span>${link.linkText || 'Link Text'}</span>
		</a>
	</div>
</div>

<sly data-sly-test="${properties.selectImage == 'imageRequired'}">
	<div data-sly-test="${properties.imagePosition == 'top'}">
		<div class="image-row required-height-style-1"
			 data-sly-resource="${'image-bt' @ resourceType='chinational/components/content/image', selectors='embeddedImage'}">
		</div>
		<div class="content-gutter cmp-text">
			<h2>${properties.headingText}</h2>
			${properties.contentDetail @context = 'html'}
			<div  data-sly-test="${properties.selectButton == 'buttonRequired'}" class="link-wrapper">
				<a class="learn-more-btn white-border" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
					<span>${link.linkText || 'Link Text'}</span>
				</a>
			</div>
		</div>
	</div>
	<div data-sly-test="${properties.imagePosition == 'left'}"
		 class="full-image required-width-style-1"
		 data-sly-resource="${'image-bt' @ resourceType='chinational/components/content/image', selectors='embeddedImage'}">
	</div>
	<div data-sly-test="${properties.imagePosition != 'top'}" class="content-gutter-with-image cmp-text">
		<h2>${properties.headingText}</h2>
		${properties.contentDetail @context = 'html'}
		<div  data-sly-test="${properties.selectButton == 'buttonRequired'}" class="link-wrapper">
			<a class="learn-more-btn white-border" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
				<span>${link.linkText || 'Link Text'}</span>
			</a>
		</div>
	</div>
	<div data-sly-test="${properties.imagePosition == 'right'}"
		 class="full-image required-width-style-1"
		 data-sly-resource="${'image-bt' @ resourceType='chinational/components/content/image', selectors='embeddedImage'}">
	</div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.headingText}"></sly>