<sly data-sly-use.audio="org.chi.aem.common.components.model.Audio"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
	<div class="carousel-item hide-mobile slide item desktop">
	    <div class="flex-box">
	        <div class="carousel-description carousel-image firstTile">
	            <div class="main-player" style="background-color: ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'}; border: 15px solid ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'};">  
	                <div class="audio-container">
	               		<div class="link-wrapper">
		                	<button type="button" class="audio-player-button" data-file="${audio.audioUrl}" data-toggle="modal" data-target="#audio-modal">
		                        <img src="${audio.audioImage}">		                        
		                        <i class="sprite small-icons icon-audio-light"></i>
		                	</button>
		                </div>
		                <a data-file="${audio.audioUrl}" data-toggle="modal" data-target="#audio-modal"><span class="custom-button">${audio.sectionHeading}</span></a>
					</div>
	                <span class="a-brief-description" data-sly-test="${audio.audioText}">${audio.audioText}</span>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="owl-carousel owl-theme show-mobile hide-desktop mobile-carousel">
	    <div class="carousel-item item" style="width: 100%">
	        <div class="flex-box">
	            <div class="carousel-description carousel-image">
	                <div class="sub-Thumbs">
	                    <button type="button" class="audio-player-button" data-audio-title="${audio.sectionHeading}" data-file="${audio.audioUrl}" data-toggle="modal" data-target="#audio-modal">
	                        <div class="audio-container  mc-audio">
	                            <img src="${audio.audioImage}">
	                            <i class="sprite small-icons icon-audio-light"></i>
	                        </div>
	                    </button>
	                    <div class="media-text">
	                        <span class="thumb-titles">${audio.sectionHeading}</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!audio.audioUrl}"></sly>


