<sly data-sly-use.audio="org.chi.aem.common.components.model.Audio"
	data-sly-use.template="chinational/components/commons/templates.html"></sly>

	<div class="audio-container">
		<div class="link-wrapper sub-Thumbs mc-audio" style="background-color: ${properties.backgroundColor|| '#e7e7e7'@ context='styleToken'}">
			<button type="button" class="audio-player-button" data-file="${audio.audioUrl}" data-toggle="modal" data-target="#audio-modal">
				<img src="${audio.audioImage}"> 
				<i class="sprite small-icons icon-audio-light"></i>
			</button>
		</div>
		<div class="media-text">
			<span class="thumb-titles">${audio.sectionHeading}</span>
		</div>
	</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!audio.audioUrl}"></sly>