<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>
<sly data-sly-use.wheelCollection="org.chi.aem.common.components.model.WheelCompartmentsCollection"></sly>

<sly data-sly-test.header="${properties.title}">
	<div class="component">
		<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
			<div class="col-sm-12">
			    <div class="interactive-wheel" data-sly-test="${wheelCollection.wheelCompartmentsDetails.size > 1}">
			    	<div class="wheelContainer mobile-adjustment" style="background-color: ${properties.backgroundColor @ context='styleToken'};">
				    	<div class="sub-wheelContainer mobile-adjustment">
				            <h1 class="header-padding mobile-adjustment ${properties.noTitle? 'in' : ''}" style="color: ${properties.fontColor @ context='styleToken'};">${properties.title}</h1>
				            <div class="right mobile-adjustment">
				                <div class="wheel">
				                    <div class="arrow mobile-adjustment">
				                        <img src="/etc/designs/chicommon/images/arrow.svg">
				                    </div>
				                    <div class="circle small-wheel">
				                        <div class="circle-rotate transform1">
				                            <img src="${properties.image_wheel}" class="circle-image">
											<sly data-sly-list.wheelItem="${wheelCollection.wheelCompartmentsDetails}">
					                        	 <img src="${wheelItem.compartment_image}" class="location${wheelItemList.index}${properties.noNoseImage? '-withoutCenter' : ''} snot section${wheelItemList.index}" alt="${wheelItem.compartment_image_alt_text}">
					                    	</sly>
				                        </div>
				                        <div class="nose ${properties.noNoseImage? 'in' : ''}">
				                            <img class="nose-img-desktop" src="${properties.image_nose}" alt="nose">
				                            <img class="nose-img-mobile" src="${properties.image_small_nose}">
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div class="left mobile-adjustment">
				                <div class="initial-text" style="color: ${properties.fontColor @ context='styleToken'};">
				                    <p>
										${properties.initial_text  @context = 'html'}                    
									</p>
				                    <p>
				                        <strong>${properties.initial_text_message}</strong>
				                    </p>
				                </div>
								<sly data-sly-list.wheelItem="${wheelCollection.wheelCompartmentsDetails}">                        		                 
					                 <div class="color-text text${wheelItemList.index}" style="display: none; color: ${properties.fontColor @ context='styleToken'};">
					                    <h2 style="color: ${properties.fontColor @ context='styleToken'};">${wheelItem.compartment_title}</h2>
					                    <p>
											${wheelItem.compartment_text  @context = 'html'}                    
										</p>
					                </div>                 
					            </sly>
				                <div class="footer-cta ${properties.noCTAButton? 'in' : ''}">
				                    <img src="/etc/designs/chicommon/images/schedule-checkup.svg" class="icon"> <a href="${properties.destinationCTA}" style="color: ${properties.fontColor @ context='styleToken'};">${properties.schedule_appointment} »</a>
				                </div>
				            </div>
				        </div>
			    	</div>
			    </div>
	    	</div>
		</div>
		
		<sly data-sly-test="${wcmmode.edit}" data-sly-include="../../commons/bottomOption.html"></sly>
	</div>
    <script src="https://use.typekit.net/jnd5ogo.js"></script>
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=!header}"></sly>
