<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>

<sly data-sly-use.linkCollection="org.chi.aem.common.components.model.FooterLinkCollection"/>

<span class="list-header" data-sly-test="${linkCollection.linkHeading}">${linkCollection.linkHeading}</span>
<sly data-sly-list="${linkCollection.items}">
	<div class="link-wrapper">
		<a href="${item.linkUrl || '#'}" target="${item.targetBlank==true ?'_blank':'_self'}">
			${item.linkText}
		</a>
    </div>
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=linkCollection.items.size == 0}"></sly>
