<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ 05/16/2018 - moving text section of HTML to a different file, which is reused in two files
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->

<div class="col-sm-12">
	<div class="row component-gutter">
		<div class="col-md-12">
			<sly data-sly-include="textsection.html"></sly>
			<div class="link-wrapper"
				 data-sly-resource="${'cbtextbutton' @ resourceType='chinational/components/content/button'}"
				 data-sly-test="${properties.buttonUnderLeftPanel}">
			</div>

		</div>
	</div>
</div>