<sly data-sly-use.mediaCollection="org.chi.aem.common.components.model.MediaCollection"
	 data-sly-use.template="chinational/components/commons/templates.html"></sly>

	<div id="wrapper" style="min-height: 300px; margin-top: 20px;" class="${ !wcmmode.edit ? 'previewMode' : 'editMode'}">
		<div id="membersContainer" class="${properties.numberOfTiles || '4'}" data-sly-list.item="${mediaCollection.editViewItems}">
			<div id="first">
				<h4 data-sly-test="${wcmmode.edit}">Here goes ${item.name}:</h4>
				<div data-sly-resource="${item.id @ resourceType='chinational/components/content/membersTiles'}"></div>
			</div>
		</div>
	</div>

	<div class="tiles-wrapper col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="tile">
			<div class="tile-inner row">
				<div class="link-wrapper">
					<a id="membersLoadMoreButton" class="learn-more-btn border-orange members_list_show_more"><span>LOAD MORE</span></a>
				</div>
			</div>
		</div>
	</div>

<sly data-sly-call="${template.placeholder @ isEmpty=mediaCollection.editViewItems.size == 0}"></sly>