<div class="row">
	<div class="physicianTile">
		<div class="tiles-wrapper">
			<div class="tile">
				<hr class="tile-hr-no-top-margin">
				<div class="tile-inner">
			        <div class="tile-img" data-sly-test="${!pageProperties.physicianImageNotReqd}">
			        	<img src="${pageProperties.imageSrc @ context='unsafe'}" alt="Physician Image">
					</div>
			        <div class="tile-desc">
			            <span class="small-heading heading_site_color">${pageProperties.physicianName}</span>
			            <p>${pageProperties.physicianExpertise}</p>
			            <div class="bio-page-icons-row" data-sly-test="${pageProperties.iconsReqd}"
					         data-sly-resource="${ 'biotemp-iconsRow' @ resourceType='chinational/components/content/iconsRow', selectors='profileIconsRow'}"></div>
			            
			            <div class="req-app" data-sly-test="${!pageProperties.buttonNotReqd}">
							<button type="button" class="btn btn-primary search_button_site_color">${pageProperties.buttonText || 'REQUEST APPOINTMENT'}</button>            
			            </div>
			        </div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>


<div data-sly-resource="${ @path='main-respgrid', resourceType='chinational/components/foundation/responsivegrid'}"></div>