<sly data-sly-use.defaultValues="org.chi.aem.common.components.model.DefaultValuesModel"
	 data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="physicianTiles members-tiles-padding">
	<div class="component">
		<div class="row">

			<div class="tiles-wrapper members_tiles_list members-tile-width">
				<div class="tile">
					<hr data-sly-test="${properties.memberName}" class="member-width no-margin-top">
					<div class="row tile-inner">

						<!-- h4 data-sly-test="${!properties.memberName  && wcmmode.edit}">No profile is configured, use dialog to add information</h4-->

						<sly data-sly-test="${properties.memberName}">

							<div class="rightSideTile tile-img col-xs-5 col-md-4">
								<sly data-sly-test.link="${properties.memberImageSrc}"> 
									<img src="${properties.memberImageSrc @ context='unsafe'}" alt="Profile Image"> 
								</sly>
								<sly data-sly-test="${!link}"> 
									<img src="${defaultValues.defaultMembersPhotoSrc}" alt="Default Image"> 
								</sly>
							</div>
						
							<div id="memberLeftSide" class="leftSideTile">
								<div id="memberPresentationText" class="tile-desc col-xs-7 col-md-8 tile-desc-width">
									<sly data-sly-test.linkMember="${properties.selectLinkForMember == 'linkToPageReqd'}">
										<span class="small-heading heading_site_color"> 
											<a href="${properties.memberLinkTo}" target="${properties.targetBlank == 'true' ?'_blank':'_self'}">${properties.memberName}</a>
										</span> 
									</sly>
									<span data-sly-test="${!linkMember}" class="small-heading heading_site_color">${properties.memberName}</span>
									<p>${properties.memberExpertise}</p>
								</div>
								
								<div class="logoPlaceholder ${properties.stretchImage? 'stretchImage' : '' }" style="background-image:url('${properties.memberLogo @ context='styleString'}');"></div>
          
							</div>
						</sly>
					</div>
					<hr data-sly-test="${properties.memberName}" class="member-width no-margin-bottom">
				</div>
			</div>
		</div>
	</div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.memberName}"></sly>