<div class="item" >
  <div class="row">
   <div class="tiles-wrapper col-xs-12">
    <div class="tile">
      <hr>
      <div class="tile-inner row">
		<h3 data-sly-test="${!properties.memberName  && wcmmode.edit}">
			No profile is configured, use dialog to add information
		</h3>

		<sly data-sly-test="${properties.memberName}">
      
			<div class="tile-img col-xs-5 col-md-4">
				<sly data-sly-test.link="${properties.memberImageSrc}"> 
					<img src="${properties.memberImageSrc @ context='unsafe'}" alt="Profile Image" />
				</sly>
				<sly data-sly-test="${!link}"> 
					<img src="/content/dam/chi-national/website/sample-page-images/goodrich-chuck.jpg" alt="Default Image" />
				</sly>
			</div>
			<div class="tile-desc col-xs-7 col-md-8">
				<sly data-sly-test.linkMember="${properties.selectLinkForMember == 'true' || properties.selectLinkForMember == 'linkToPageReqd'}">
					<span class="small-heading heading_site_color"> 
						<a href="${properties.memberLinkTo}" target="${properties.targetBlank == 'true' ?'_blank':'_self'}">
							${properties.memberName}
						</a>
					</span> 
				</sly>
				<span data-sly-test="${!linkMember}" class="small-heading heading_site_color">
					${properties.memberName}
				</span>
				<p>${properties.memberExpertise @context = 'html'}</p>
				<div data-sly-test="${properties.memberLogo}" class="logoPlaceholder stretchImage" style="background-image:url('${properties.memberLogo @ context='styleString'}');"></div>
			</div>
		</sly>
          
      </div>
      <hr>
    </div>
   </div>
  </div>
</div>
