<sly data-sly-use.link="org.chi.aem.common.components.model.Link" />

<div class="category-item center call-out">
    <sly data-sly-test="${properties.iconOption == 'icon-pre'}">
      	<div class="icon-container"  data-sly-test="${properties.calloutIcon != 'iconNotRequired'}">
			<span class="${properties.calloutIcon || 'solid-circle'}" style="margin:0;"></span>
		</div>
	</sly>
    <sly data-sly-test="${properties.iconOption == 'icon-custom'}">
   		<div  class="icon-container" data-sly-test="${properties.iconImageSrc}">
       		<img class="" src="${properties.iconImageSrc}" />
     	</div>
    </sly>

    <a data-sly-test="${link.linkUrl != '#'}" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
        <span class="small-heading padding-top-10 txt-center heading_site_color">
            ${properties.categoryTitleText || 'Callout Component'}
        </span>
    </a>
    <span data-sly-test="${link.linkUrl == '#'}" class="small-heading padding-top-10 txt-center heading_site_color">
    	${properties.categoryTitleText || 'Callout Component'}
    </span>
    <p>${properties.contentDetail}</p>
</div>

