<sly data-sly-use.link="org.chi.aem.common.components.model.Link" />

<div class="category-item call-out icon-dis-left">
    <sly data-sly-test="${properties.iconOption == 'icon-pre'}">
	    <div class="category_icon" data-sly-test="${properties.calloutIcon != 'iconNotRequired'}">
	      	<div class="icon-container">
				<span class="${properties.calloutIcon || 'solid-circle'}" style="margin:0;"></span>
			</div>
	    </div>
	</sly>
    <sly data-sly-test="${properties.iconOption == 'icon-custom'}">
	    <div class="category_icon" data-sly-test="${properties.iconImageSrc}">
	   		<div  class="icon-container" data-sly-test="${properties.iconImageSrc}">
	       		<img class="" src="${properties.iconImageSrc}" />
	     	</div>
	    </div>
    </sly>

    
    <div class="category_content">
        <a data-sly-test="${link.linkUrl != '#'}" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
            <span class="small-heading heading_site_color">${properties.categoryTitleText || 'Callout Component'}</span>
        </a>
        <span data-sly-test="${link.linkUrl == '#'}" class="small-heading heading_site_color">
            	${properties.categoryTitleText || 'Callout Component'}
        </span>
		<p>${properties.contentDetail}</p>
    </div>
</div>
