<sly data-sly-use.hero="org.chi.aem.common.components.model.Hero"></sly>
<div class="intro-img">
    <span class="banner-curvo hero_background_color"
          style="background-color: ${properties.backgroundColor @ context='styleToken'};"></span>
    <sly data-sly-resource="${'heroimage' @ resourceType='chinational/components/content/image'}"></sly>
</div>
<div class="intro-title hero_background_color"
     style="background-color: ${properties.backgroundColor @ context='styleToken'};">
    <div class="title-inner">
        <h1 class="intro-caption-white">
            ${properties.heading}
        </h1>
        <div class="intro-sub-header" data-sly-test="${properties.subheading}">${properties.subheading}</div>
        <div class="link-wrapper" data-sly-test="${hero.linkTo}">
        <a href="${hero.linkTo}" data-sly-test="${properties.label}"
           class="learn-more-btn white-border">${properties.label}</a>
        </div>
    </div>
</div>
