
<div class="row"  data-sly-test="${pageProperties.imageSrc}">
    <div class="col-sm-12">
        <div class="full-image">
            <div class="video-inner">
                <picture>
                    <img src="${pageProperties.imageSrc}">
                </picture>
            </div>
            <div class="padding-5" data-sly-test="${pageProperties.imageCaption}">
                <p class="light-txt">${pageProperties.imageCaption}</p>
            </div>
        </div>
    </div>
</div>

<div data-sly-resource="${ @path='main-respgrid', resourceType='chinational/components/foundation/responsivegrid'}"></div>
<div data-sly-test="${pageProperties.displayQuoteComponent}"
        data-sly-resource="${ @path='blogtemp-quote', resourceType='chinational/components/composites/quoteAndImage'}"></div>
<div data-sly-resource="${ @path='blogtemp-tiles', resourceType='chinational/components/composites/dynamicTilesNewsListGlobal'}"></div>