<template data-sly-template.item="${@ list, item}">
	<div class="row image-content flex">
	        <div class="image-col col-sm-4 col-xs-12" data-sly-test.noImagePresent="${item.properties.featuredImageSrc || item.properties.imageSrc}">
	                  <img src="${item.properties.featuredImageSrc || item.properties.imageSrc @ context='unsafe'}" alt="Alt Image">
	        </div>
	        <div class="blog-news-padding-top ${noImagePresent ? 'col-sm-8 col-xs-12' : 'col-xs-12'}">
	          <a href="${item.path @ extension='html'}">
	              <h4 class="txt-green news_blog_featured_heading news_heading_hover">${item.properties.newsHeading || item.pageTitle || item.title || item.name}</h4>
	          </a>
	          <span class="txt-green" 
	                data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=item.properties.publishDate, dateFormat='MMM dd, YYYY'}">
	                   ${formatter.formattedDate}
	          </span>
	          <p data-sly-test="${item.properties.excerpt}">${item.properties.excerpt}</p>
	          <a href="${item.path @ extension='html'}" class="learn-more-btn border-orange">READ MORE</a>
	        </div>
	</div>
</template>    
