<template data-sly-template.item="${@ list, item}">
    <article>
        <a href="${item.properties.cq:redirectTarget || item.path @ extension='html'}">
            <h4 class="news_blog_list_heading"><span class="news_heading_hover">${item.properties.newsHeading || item.pageTitle || item.title || item.name}</span></h4>
        </a>
        <span class="news_blog_list_heading" 
              data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=item.properties.publishDate, dateFormat='MMM dd, YYYY'}">
                 ${formatter.formattedDate}
        </span>
        <p data-sly-test="${item.properties.excerpt}">${item.properties.excerpt}</p>
    </article>
</template>    
