<sly data-sly-use.newsList="org.chi.aem.common.components.model.NewsList"
     data-sly-use.template="chinational/components/commons/templates.html"/>

<div class="chi_dual_box" data-sly-test="${wcmmode.edit || wcmmode.design || wcmmode.preview}">
    <p>Select Three Titles for Featured Articles</p>
    <form id="listBoxForm" action="#" method="post">
        <select multiple="multiple" size="10" name="duallistbox_output[]" title="duallistbox_output[]"
                data-sly-list.child="${currentPage.listChildren}">
            <option>${child.title}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-default btn-block">Submit data</button>
    </form>
</div>


<span class="media_page_tag_desc"></span>
<sly data-sly-use.featuredTemplate="featured.html"></sly>
<div class="component">
    <div class="row news-list-form ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}"
         id="${newsList.hash @ context='unsafe'}">
        <sly data-sly-list.featuredNews="${newsList.featuredNews}">
            <div class="col-xs-12 featured-news-blog ${featuredNewsList.last?'padding-bottom-60':'padding-bottom-60'}"
                 data-sly-call="${featuredTemplate.item @ list = newsList, item = featuredNews}"></div>
        </sly>

        <sly data-sly-test="${!properties.removeFilter}">
            <div class="col-xs-12 select_news_filter">
                <select class="form-control" name="search_news_list" id="search_news_list">
                    <option value="${currentPage.path}.news.AllItems.html" name="AllItems">All Items</option>
                    <sly data-sly-list.tagsList="${newsList.tagsMap}">
                        <option value="${currentPage.path}.news.${tagsList}.html" name="${tagsList}">
                            ${newsList.tagsMap[tagsList]}
                        </option>
                    </sly>
                </select>
                <select class="form-control" name="search_news_year" id="search_news_year">
                    <option value="ChooseYear" selected>Sort by year</option>
                    <sly data-sly-list.listYear="${newsList.listYears}">
                        <option value="${listYear}">${listYear}</option>
                    </sly>
                </select>
            </div>
        </sly>

        <input type="hidden" name="media_page_path" id="media_page_path"
               value="${properties.parentPage || currentPage.path }">
        <input type="hidden" name="current_page_path" id="current_page_path" value="${currentPage.path}">
        <input type="hidden" name="total_results" id="total_results" value="${newsList.totalResults}">
        <input type="hidden" name="news_filter" id="news_filter" value="${newsList.newsFilter}">
        <input type="hidden" name="news_tag_desc" id="news_tag_desc" value="${newsList.tagsDesc}">

        <div class="col-xs-12 loading" style="display:none;">
            <img id="loading-status" src="/etc/designs/chicommon/images/loading.gif">
        </div>

        <div class="col-xs-12">
            <ul class="mc_list filtered_list" data-sly-list.item="${newsList.listNews}"
                data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                data-sly-use.itemTemplate="item.html">
                <li data-sly-call="${itemTemplate.item @ list = newsList, item = item}"></li>
            </ul>
        </div>

        <div class="col-xs-12 padding_top_15">
            <a class="learn-more-btn border-orange filtered_list_show_more">SEE MORE</a>
        </div>

        <div class="col-xs-12 loading_next" style="display:none;">
            <img id="loading-status" src="/etc/designs/chicommon/images/loading.gif">
        </div>

        <noscript>
            <div class="col-xs-12">
                <ul class="pagination pagination-lg pager">
                    <sly data-sly-test.previousPage="${newsList.previousPage}"></sly>
                    <sly data-sly-test.nextPage="${newsList.nextPage}"></sly>
                    <sly data-sly-test.activePage="${newsList.activePage}"></sly>
                    <sly data-sly-test.totalPages="${newsList.totalPages}"></sly>

                    <li class="previous ${(activePage  <= 1) ? 'disabled' : '' @ context='attribute'}">
                        <a href="${currentPage.path}.${previousPage @ context='unsafe'}.html">
                            Previous
                        </a>
                    </li>
                    <sly data-sly-list="${newsList.pages}">
                        <li class="${activePage  == item ? 'active' : '' @ context='unsafe'}">
                            <a href="${currentPage.path}.${item}.html">${item}</a>
                        </li>
                    </sly>
                    <li class="next ${activePage >= totalPages ? 'disabled' : '' @ context='attribute'}">
                        <a href="${currentPage.path}.${nextPage}.html">Next</a>
                    </li>
                </ul>
            </div>
        </noscript>
    </div>
    <sly data-sly-include="../../commons/bottomOption.html"></sly>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!newsList.featuredNews}"></sly>