<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ 5/11/18 - Added regular grid, so new components can be added after blog
  ~ 6/28/18 - Changed regular grid from botton to top of blog
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->

<div data-sly-resource="${ @path='main-respgrid',resourceType='chinational/components/foundation/responsivegrid'}"></div>
<div data-sly-resource="${ @path='news-list',resourceType='chinational/components/content/blogslist'}"></div>
