<sly data-sly-use.mediaCollection="org.chi.aem.common.components.model.MediaCollection"></sly>
<sly data-sly-test="${mediaCollection}">
    <div class="component">
        <div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
            <div class="col-sm-12">
                <h4 class="media-fifty" data-sly-test="${mediaCollection.sectionHeading}">${mediaCollection.sectionHeading}</h4>
                <div class="cus-curosal pstn-reltv hide-mobile full-bleed-tiles ${mediaCollection.editViewItems.size < 8 ?'fw-no-arrows':''} ${mediaCollection.editViewItems.size < 4 ?'rr-no-arrows':''}">
                    <div class="owl-carousel owl-theme media-carousel">
                        <div class="slide-container">
                            <sly data-sly-test="${mediaCollection.firstItem.type == 'video'}"
                                 data-sly-resource="${mediaCollection.firstItem.id @ resourceType='chinational/components/content/video', selectors='carouselFirstItem'}"></sly>
                            <sly data-sly-test="${mediaCollection.firstItem.type == 'audio'}"
                                 data-sly-resource="${mediaCollection.firstItem.id @ resourceType='chinational/components/content/audio', selectors='carouselFirstItem'}"></sly>
                            <sly data-sly-list.groups="${mediaCollection.previewItems}">
                                <div class="carousel-item item slide twoItemColumn" style="width: 229px">
                                    <div class="flex-box">
                                        <div class="carousel-description carousel-image">
                                            <sly data-sly-repeat="${groups}">
                                                <sly data-sly-test="${item.type == 'video'}" data-sly-resource="${item.id @ resourceType='chinational/components/content/video', selectors='carousel'}"></sly>
                                                <sly data-sly-test="${item.type == 'audio'}" data-sly-resource="${item.id @ resourceType='chinational/components/content/audio', selectors='carousel'}"></sly>
                                            </sly>
                                        </div>
                                    </div>
                                </div>
                            </sly>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme show-mobile hide-desktop media-carousel-mobile">
                    <div class="slide-contaner">
                        <sly data-sly-test="${mediaCollection.firstItem.type == 'video'}"
                             data-sly-resource="${mediaCollection.firstItem.id @ resourceType='chinational/components/content/video', selectors='mobileCarousel'}"></sly>
                        <sly data-sly-test="${mediaCollection.firstItem.type == 'audio'}"
                             data-sly-resource="${mediaCollection.firstItem.id @ resourceType='chinational/components/content/audio', selectors='mobileCarousel'}"></sly>
                        <sly data-sly-list.groups="${mediaCollection.previewItems}">
                            <sly data-sly-repeat="${groups}">
                                <sly data-sly-test="${item.type == 'video'}" data-sly-resource="${item.id @ resourceType='chinational/components/content/video', selectors='mobileCarousel'}"></sly>
                                <sly data-sly-test="${item.type == 'audio'}" data-sly-resource="${item.id @ resourceType='chinational/components/content/audio', selectors='mobileCarousel'}"></sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
        <sly data-sly-include="../../commons/bottomOption.html"></sly>
    </div>
</sly>
<!-- Audio Popup-->
<div class="modal fade" id="audio-modal" tabindex="-1" role="dialog" aria-labelledby="audio-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="audio-modal-Label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <audio id="audio-player" controls preload="none">
                    <source src="" type="audio/ogg">
                    <source class="srcmp" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
