<sly data-sly-use.compositeButtons="org.chi.aem.common.components.model.CompositeButtons" 
	 data-sly-use.link="org.chi.aem.common.components.model.Link" />

<div class="component">
	<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
		<div class="col-xs-12" data-sly-test.noHeadingOrLink="${properties.headingRequired || properties.linkRequired}">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h3 class="comp-outlined-button-heading" data-sly-test="${properties.headingRequired}">
						${properties.heading}
                    </h3>
				</div>
				<div class="col-xs-12 col-sm-6 right-small-txt">
                	<div class="inblock show-on-desktop">
                        <sly data-sly-test="${properties.linkRequired}">
                            <a class="arrow-link-txt small_text_link_site_color" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
                               ${link.linkText}
                               <i class="arrow-right"></i>
                            </a>
                        </sly>    
                    </div>
				</div>
			</div>
		</div>
		
        <div class="col-xs-12" data-sly-list.eachButton="${compositeButtons.buttonList}">
            <div class="composite-outlined-buttons ${eachButtonList.last?'comp-outlined-button-last':''}" 
            	 data-sly-resource="${ @path=eachbutton, resourceType='chinational/components/content/button', selectors='outlined'}">
            </div>
        </div>

		<div class="col-xs-12 txt-right show-on-mobile" data-sly-test="${properties.linkRequired}">
	        <a class="arrow-link-txt" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
	           ${link.linkText}
	           <i class="arrow-right"></i>
	        </a>
		</div>

	</div>
	<sly data-sly-include="../../commons/bottomOption.html"></sly>
</div>
