<sly data-sly-use.newsList="${'org.chi.aem.common.components.model.DynamicTileNewsList' @ articleType=currentStyle.selectArticleType}"
	  data-sly-use.link="org.chi.aem.common.components.model.GlobalLink"
      data-sly-use.template="chinational/components/commons/templates.html" />

<div class="component" data-sly-test="${currentStyle.parentPage}">
  	<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
  	
		<div class="col-xs-12" data-sly-test="${currentStyle.selectHeading == 'headingRequired'}">
			<span class="sub-heading">
	        	${currentStyle.contentTilesHeading || 'Featured Articles'}
 			</span>
		</div>
		
		<div class="col-xs-12">
	        <div class="row flex">
				<sly data-sly-list.featuredNews="${newsList.featuredNews}">
		           	<div class="blog-item ${featuredNewsList.first?'col-xs-12 col-md-4 first-tile-image-tablet':'col-xs-12 col-sm-6 col-md-4'}">
	                    <div class="full-image blog-image" 
	                    	 data-sly-test.imagePresent="${!currentStyle.imageNotRequired && (featuredNews.properties.tileImageSrc || featuredNews.properties.imageSrc)}">
	                    	<img src="${featuredNews.properties.tileImageSrc || featuredNews.properties.imageSrc @ context='unsafe'}" 
	                             alt="${featuredNews.properties.newsHeading || featuredNews.pageTitle || featuredNews.title || featuredNews.name}" />
	                    </div>
	                    
	                    <div class="blog-content pstn-reltv stickToTop">
	                    	<a href="${featuredNews.path @ extension='html'}" target="${currentStyle.targetBlank ?'_blank':'_self'}">
	                        	<span class="blog-title dblock txt-green tiles_heading_site_color news_heading_hover ${imagePresent ? '' : 'padding-top-0'}">
	                        		${featuredNews.properties.newsHeading || featuredNews.pageTitle || featuredNews.title || featuredNews.name}
	                        	</span>
	                        </a>
	                        <span class="blog-date txt-green tiles_heading_site_color" data-sly-test="${!currentStyle.dateNotRequired}"
	                              data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=featuredNews.properties.publishDate, dateFormat='MMM dd, YYYY'}">
	                                 ${formatter.formattedDate}
	                        </span>
	                        <p>${featuredNews.properties.excerpt}</p>
	                    </div>
	                    <a class="bold-link stickToBottom" href="${featuredNews.path @ extension='html'}" target="${currentStyle.targetBlank ?'_blank':'_self'}">
	                        READ MORE
	                    </a>
	                </div>
	        	</sly>
	
	        	<div class="divider-news" data-sly-test="${currentStyle.listOnRightNotRequired && newsList.listNews}"></div>
				<div class="col-xs-12 col-md-3" data-sly-test="${currentStyle.listOnRightNotRequired && newsList.listNews}">
					<hr class="hideForDesktop" />
	                <h3>${currentStyle.linkHeading || 'Other News'}</h3>
	                <sly data-sly-list.item="${newsList.listNews}">
	                    <div class="bullet-text">
	                        <a href="${item.path @ extension='html' || '#'}">
	                            ${item.properties.newsHeading || item.pageTitle || item.title || item.name}
	                        </a>
	                        <i class="arrow-right"></i>
	                    </div>
	                </sly>
	            </div>
			</div>
		</div>

		<div class="col-xs-12 padding-top-30" data-sly-test="${currentStyle.selectButton == 'buttonRequired'}">
			<a class="learn-more-btn border-orange" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
			   ${link.linkText || 'SEE ALL'}
			</a>
		</div>

	    <sly data-sly-include="../../commons/bottomOption.html"></sly>

    </div>
 </div>

<sly data-sly-call="${template.placeholder @ isEmpty=!newsList.featuredNews}"></sly>