<sly data-sly-use.newsList="${'org.chi.aem.common.components.model.DynamicTileNewsList' @ articleType=properties.selectArticleType}"
	  data-sly-use.link="org.chi.aem.common.components.model.Link"
      data-sly-use.template="chinational/components/commons/templates.html" />

<div class="component tnl-wrapper" data-sly-test="${properties.parentPage}">
  	<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
  	
		<div class="col-xs-12" data-sly-test="${properties.selectHeading == 'headingRequired'}">
			<span class="sub-heading">
	        	${properties.contentTilesHeading || 'Featured Articles'}
 			</span>
		</div>
		
		<div class="col-xs-12">
	        <div class="row flex">
				<sly data-sly-list.featuredNews="${newsList.featuredNews}">
		            <sly data-sly-use.imageInfo="${'org.chi.aem.common.components.model.NewsBlogImageModel' @ path = featuredNews.path, articleType=properties.selectArticleType}" />				
		           	<div class="blog-item col-xs-12 col-sm-6 ${properties.listOnRightNotRequired?'col-md-3':'col-md-4'}
		           				${(newsList.featuredNews.size == 1)?'last-tile-tablet-margin-bottom':''}
		           				${(newsList.featuredNews.size == 2 && !properties.listOnRightNotRequired)?'last-tile-tablet-margin-bottom':''} 
		           				${(newsList.featuredNews.size == 3 && featuredNewsList.count == 3)?'last-tile-tablet-margin-bottom':''}"> 

	                    <div class="full-image blog-image" 
	                    	 data-sly-test.imagePresent="${!properties.imageNotRequired && imageInfo.tileImagePath}">
	                    	 <div class="blog-image-container">
	                    		<img src="${imageInfo.tileImagePath @ context='unsafe'}" 
                             		 alt="${featuredNews.properties.newsHeading || featuredNews.pageTitle || featuredNews.title || featuredNews.name}" />
                             </div>
	                    </div>
<!--  /* 	                    
<div class="full-image blog-image" 
	 data-sly-test.imagePresent="${!properties.imageNotRequired && (featuredNews.properties.tileImageSrc || featuredNews.properties.imageSrc)}">
	<img src="${featuredNews.properties.tileImageSrc || featuredNews.properties.imageSrc @ context='unsafe'}" 
         alt="${featuredNews.properties.newsHeading || featuredNews.pageTitle || featuredNews.title || featuredNews.name}" />
</div>
*/ -->	                    

	                    <div class="blog-content pstn-reltv stickToTop">
							<a href="${featuredNews.path @ extension='html'}" target="${properties.targetBlank ?'_blank':'_self'}">
	                        	<span class="blog-title dblock txt-green tiles_heading_site_color news_heading_hover ${imagePresent ? '' : 'padding-top-0'}">
	        	                	${featuredNews.properties.newsHeading || featuredNews.pageTitle || featuredNews.title || featuredNews.name}
	                        	</span>
	                        </a>
	                        <span class="blog-date txt-green tiles_heading_site_color" data-sly-test="${!properties.dateNotRequired}"
	                              data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=featuredNews.properties.publishDate, dateFormat='MMM dd, YYYY'}">
	                                 ${formatter.formattedDate}
	                        </span>
	                        <p>${featuredNews.properties.excerpt}</p>
	                    </div>
	                    <a class="bold-link stickToBottom" href="${featuredNews.path @ extension='html'}" target="${properties.targetBlank ?'_blank':'_self'}">
	                        READ MORE
	                    </a>
	                </div>
	        	</sly>
	
<!-- /*        	
<div class="divider-news" data-sly-test="${properties.listOnRightNotRequired && newsList.listNews}"></div>
 */ -->
				<div class="col-xs-12 col-sm-6 col-md-3 divider-news blog-item ${(newsList.featuredNews.size == 2)?'rr-tt-rd':''}" 
					 data-sly-test="${properties.listOnRightNotRequired && newsList.listNews}">
					<hr class="hideForDesktop" />
	                <h3>${properties.linkHeading || 'Other News'}</h3>
	                <sly data-sly-list.item="${newsList.listNews}">
	                    <div class="bullet-text">
	                        <a href="${item.path @ extension='html' || '#'}">
	                            ${item.properties.newsHeading || item.pageTitle || item.title || item.name}
	                        </a>
	                        <i class="arrow-right"></i>
	                    </div>
	                </sly>
	            </div>
			</div>
		</div>
				
		<div class="col-xs-12 padding-top-30" data-sly-test="${properties.selectButton == 'buttonRequired'}">
			<a class="learn-more-btn border-orange" href="${link.linkUrl}" target="${link.targetBlank==true ?'_blank':'_self'}">
			   ${link.linkText || 'SEE ALL'}
			</a>
		</div>
		
    </div>

    <sly data-sly-include="../../commons/bottomOption.html"></sly>
	    
 </div>

<sly data-sly-call="${template.placeholder @ isEmpty=!newsList.featuredNews}"></sly>