<template data-sly-template.item="${@ list, item, itemList}"
		  data-sly-use.imageInfo="${'org.chi.aem.common.components.model.NewsBlogImageModel' @ path = item.path, articleType='blogs'}">

    <div class="row image-content flex">
		<div class="tnl-wrapper col-sm-6 col-xs-12">
			<div class="full-image blog-image">
				<img src="${imageInfo.tileImagePath @ context='unsafe'}" alt="Alt Image">
			</div>
		</div>
		<div class="blog-news-padding-top col-sm-6 col-xs-12">
           <a href="${item.path @ extension='html'}">
               <h4 class="txt-green news_blog_featured_heading blogs_heading_hover">${item.properties.blogHeading || item.pageTitle || item.title || item.name}</h4>
           </a>
           <span class="txt-green" 
                 data-sly-use.formatter="${'org.chi.aem.common.components.model.DateFormatting' @ date=item.properties.publishDate, dateFormat='MMM dd, YYYY'}">
                    ${formatter.formattedDate}
           </span>
           <p data-sly-test="${item.properties.excerpt}">${item.properties.excerpt}</p>
           <a href="${item.path @ extension='html'}" class="learn-more-btn border-orange">LEARN MORE</a>
         </div>
    </div>

</template>    
