<sly data-sly-use.searchResult="org.chi.aem.common.components.model.SearchResult"></sly>
<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="search-result">
    <h4>Search Keyword: ${searchResult.fulltext}</h4>
    <h4>Page ${searchResult.currentPageNumber} of ${searchResult.totalNumberOfResult} results</h4>
    <ul>
        <sly data-sly-list="${searchResult.results}">
            <li>
                <a href="${item.path}">
                    ${item.title}
                </a>
                <p>${item.description}</p>
            </li>
        </sly>
    </ul>
    <div id="search-pagination" class="pagination" data-sly-list="${searchResult.pages}">
        <a href="${currentPage.path @ extension = 'html'}?fulltext=${searchResult.fulltext}&page=${item}">${item}</a>
    </div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.searchRoot}"></sly>
