<sly data-sly-use.searchResult="org.chi.aem.common.components.model.SearchResult"></sly>
<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="search-result">
        <ul>
            <sly data-sly-list="${searchResult.results}">
            <li>
                <a class="bold-link" href="${item.path}">
                    ${item.title || item.path}
                </a>
            </li>
            </sly>
        </ul>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.searchRoot}"></sly>
