<sly data-sly-use.searchResult="org.chi.aem.common.components.model.SearchResult"></sly>
<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>

<div class="search-result">
    <div class="search-box">
        <form method="get" name="search-form-embedded" action="${currentPage @ extension = 'html'}">
            <input type="text" id="srchtext" name="fulltext" value="${searchResult.fulltext}" oninput="searchTextChanged()"/>
            <input type="hidden" id="origText" value="${searchResult.fulltext}"/>
            <input type="hidden" id="origTextChanged" value="0"/>
            <input type="hidden" name="page" value="1"/>
            <span class="search-icon" onclick="searchResultSubmit();">
            <i id="srchicon" class="sprite small-icons icon-search-x"></i> <!--   icon-search-->
            </span>
        </form>
    </div>
    <h1>Search Results</h1>
    <div class="count-info">${searchResult.totalNumberOfResult} results found</div>
    <hr class="width-for-gray-line"/>
    <sly data-sly-list="${searchResult.results}">
        <h3 class="${item.description?'':'no-desc'}">
            <a href="${item.path}">
                ${item.title}
            </a>
        </h3>
        <p data-sly-test="${item.description}">${item.description}</p>

    </sly>
    <hr class="width-for-gray-line"/>
    <div class="pagination">
        <a class="left-arrow"
           href="${currentPage.path @ extension = 'html'}?fulltext=${searchResult.fulltext}&page=${searchResult.previousPageNumber}"
            data-sly-test="${searchResult.previousPageNumber >0}">
            <i class="sprite-v2 small-icons icon-arrow-left"></i>
        </a>
        <span class="rectangle">${searchResult.currentPageNumber}</span> of ${searchResult.maxPageNumber}
        <a class="right-arrow"
           href="${currentPage.path @ extension = 'html'}?fulltext=${searchResult.fulltext}&page=${searchResult.nextPageNumber}"
           data-sly-test="${searchResult.nextPageNumber >0}">
            <i class="sprite-v2 small-icons icon-arrow-right"></i>
        </a>
    </div>
</div>
