
<div class="component">
  <div class="row">
    <div class="col-md-5 col-sm-5 full-image">
        <sly data-sly-test="${properties.videoRequired}"
             data-sly-resource="${'video' @ resourceType='chinational/components/content/video', selectors='embeddedVideo'}"></sly>
        <div data-sly-test="${!properties.videoRequired}"
             data-sly-resource="${'image' @ resourceType='chinational/components/content/image', selectors='embeddedImage'}"></div>
    </div>

    <div class="col-md-7 col-sm-7">
        <div class="gutter2">
            <h3 data-sly-test="${properties.calloutHeading}">${properties.calloutHeading}</h3>
            <div data-sly-resource="${'richText' @ resourceType='chinational/components/content/richText', selectors='embeddedRichText'}"></div>
        </div>
    </div>
  </div>
</div>


