<div class="component ${properties.greybgRequired ?'full-bleed-container':''}">
    <div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'} ${properties.greybgRequired ?'light-gray':''}">
    	<div class="col-sm-12 col-md-12 ${properties.greybgRequired ?'light-gray':''} padding-fix">
    		<div class="cmp-text">
        		<sly data-sly-include="embeddedCalloutTiles.html"></sly>
        	</div>
        </div>
    </div>
    <sly data-sly-include="../../commons/bottomOption.html"></sly>
</div>
