<sly data-sly-use.tiles="org.chi.aem.common.components.model.CalloutTiles"></sly>

<div class="component">
	<div class="row bottom-buffer">
		<div class="${properties.greybgRequired ?'light-gray':''}">
			<div class="more-events">

						<h3 class="pading-bottom-25" data-sly-test="${properties.selectHeading == 'headingRequired'}">
							${properties.calloutTilesHeading || 'Callout Tiles Heading'}
						</h3>

					<sly data-sly-list.eachTile="${tiles.calloutTilesList}">
						<div
							 data-sly-resource="${eachTile @ resourceType='chinational/components/content/callout'}">
						</div>
					</sly>
			</div>
		</div>
	</div>
	<div class="bottom-buffer ${properties.greybgRequired ?'light-gray':''}"
		 data-sly-test="${!properties.bottomOption || properties.bottomOption == 'default'}">&nbsp;</div>
	<hr class="bottom-buffer-gray-line" data-sly-test="${properties.bottomOption == 'separator'}"/>
</div>

