<sly data-sly-use.tiles="org.chi.aem.common.components.model.CalloutTiles"></sly>

<div class="col-sm-12 col-md-12 ${properties.greybgRequired ?'light-gray gray-margin-top':''}">
	<div class="more-events">
		<h3 class="pading-bottom-25" data-sly-test="${properties.selectHeading == 'headingRequired' && properties.calloutTilesHeading}">
			${properties.calloutTilesHeading || 'Callout Tiles Heading'}
		</h3>

		<sly data-sly-list.eachTile="${tiles.calloutTilesList}">
			<div data-sly-resource="${eachTile @ resourceType='chinational/components/content/callout', selectors='embeddedCallout'}">
			</div>
		</sly>
	</div>
</div>

