<section class="cmp-search" role="search"
         data-sly-use.search="com.adobe.cq.wcm.core.components.models.Search"
         data-cmp-is="search"
         data-cmp-min-length="${search.searchTermMinimumLength}"
         data-cmp-results-size="${search.resultsSize}">
  <form class="cmp-search__form" data-cmp-hook-search="form"
        name="search-form"
        method="get"
        action="${currentStyle.searchDestination @ extension = 'html'}"
        psaction="${currentPage.path @ addSelectors=['chisearchresults'], extension='json', suffix = search.relativePath}"
        autocomplete="off">
    <div >
      <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
      <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="${'Search' @ i18n}"
             role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false">
      <span class="search-icon" data-cmp-hook-search="clear" onclick="document.forms['search-form'].submit();">
        <i class="sprite-v2 small-icons icon-search"></i>
      </span>
    </div>
  </form>
  <div class="cmp-search__results" data-cmp-hook-search="results" role="listbox" aria-multiselectable="false"></div>
  <sly data-sly-include="itemTemplate.html"/>
</section>