<sly data-sly-use.button="org.chi.aem.common.components.model.Button"/>

<div class="flexible-button button-hover"
	 data-sly-test="${properties.selectModal != 'modalRequired'}">
	<a href="${button.linkTo}" target="${button.targetBlank==true ?'_blank':'_self'}">
            <span data-sly-test="${properties.buttonIcon != 'iconNotRequired'}" class="${properties.buttonIcon}"></span>
			<span>${properties.label || 'Button'}</span>
	</a>
</div>

<div class="flexible-button button-hover"
	 data-sly-test="${properties.selectModal == 'modalRequired'}">
	<a href="${button.linkTo}" target="${button.targetBlank==true ?'_blank':'_self'}"
	   data-toggle="modal"
	   data-target="${button.hashTarget}">
		<span data-sly-test="${properties.buttonIcon != 'iconNotRequired'}" class="${properties.buttonIcon}"></span>
		<span>${properties.label || 'Button'}</span>
	</a>
</div>

<div class="modal fade" id="${button.hash}" role="dialog"
	 data-sly-test="${properties.selectModal == 'modalRequired'}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>${properties.modalHeadline}</h4>
			</div>
			<div class="modal-body">
				<p>${properties.modalDetail}</p>
			</div>
			<div class="modal-footer"
				 data-sly-test="${properties.modalButtonLabel}">
				<div class="link-wrapper">
					<a class="learn-more-btn border-orange"
					   href="${button.modalLinkTo}"  target="${button.targetBlank==true ?'_blank':'_self'}">
						<span>${properties.modalButtonLabel}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>