.contact-container {
  position: relative;
  height: 0;
  overflow: hidden;
}


/* 4x3 Aspect Ratio */
.contact-container-4x3 {
  padding-bottom: 90%;
}

.contact-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

_::-webkit-full-page-media, _:future, :root .contact-container {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.image-100p-width {
    width: 100%;
}

.upcoming-events img {
    margin-bottom: 0; /* Naresh - no need for extra spacing*/
}

.image-responsive {
    width: 100%;
    height: auto;
}

