/* Added by German for media-center_naresh.html */

.stickToBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 15px;
}

.stickToTop {
	position: relative;
	min-height: 160px;
	padding-bottom: 45px;
}

.other-news-padding-top {
	padding-top: 25px;
}

.divider-news {
	border-left: solid 2px #e7e7e7;
	/* margin-left: auto; commented out by Davinder on Jul 10, 2018 CHIP66*/
	/* margin-top: 25px; commented out by Davinder on May 25, 2018 CHIP12*/
}

.hideForDesktop {
	visibility: hidden;
	margin-top: -25px;
}

@media ( max-width :991px) {
/* commented out by Davinder on July 10, 2018 CHIP66	
	.hideForDesktop {
		visibility: visible;
		margin-top: 48px; May 25, 2018 Davinder CHIP12 - Changed from 0px to 48 px for tablet as per Zeplin
	}
*/
}

/*  End of additions by German */


.tnl-wrapper .flex {
    display: flex;
    flex-wrap: wrap;
}

.tnl-wrapper .blog-item {
    flex: 0 0 auto;
}

.tnl-wrapper .divider-news.blog-item,
.right-rail-container .tnl-wrapper .divider-news.blog-item {
    margin-bottom:0;
}

.tnl-wrapper .blog-image {
	/* max-width of image available = 420px - 30px [padding col-] = 390px
	   with aspect ratio 16:9 & width 390px - height will be (390/16) x 9 = 220px
	   So, height should be 220px not 236px as mentioned by Chris */
	height: 220px; /* Davinder - Jul 13, 2018 - changed from 145px to 220px*/
	max-width:420px; /* Davinder July 13, 2018 */
	width:auto; /* Davinder Jul 13, 2018 - to override width coming from other places */
	overflow:hidden; /* Davinder Jul 13, 2018 - to hide overflow */
}

.tnl-wrapper .blog-image img{
	width:auto; /* Davinder Jul 13, 2018 - to override width:100% coming from /image-col .img class */
	height:auto; /* Davinder Jul 13, 2018 - to override height:100% and to keep aspect ration */
	max-width:100%; /* Davinder Jul 13, 2018 - to keep aspect ratio */
}

.blog-title {
	font-size: 20px;
	padding: 25px 0 5px 0;
}

.blog-content {
	min-height: 230px;
}

.blog-content p {
	min-height: 90px;
}

.other-new-title {
	font-size: 28px;
	padding-bottom: 10px;
}

.right-rail-container .tnl-wrapper .blog-item {
    width:50%;
    margin-bottom:60px;
}

.right-rail-container .tnl-wrapper .divider-news.rr-tt-rd {
    border-left:none;
}

@media ( max-width :991px) {
	.blogs {
		padding-top: 40px;
	}
	.blogs .row {
		display: inherit;
	}
	.blog-item {
		margin-bottom: 60px;
	}
	.blog-content p {
		min-height: initial;
	}
	.blog-content {
		min-height: 190px;
	}
	.blog-content a {
		bottom: 15px;
		position: static;
	}
	.large-box a {
		position: relative;
		padding-top: 20px;
		display: block;
	}
	.large-box .blog-image {
		height: 230px;
	}
	.divider-news {
		border-left: none;
	}
}

@media ( max-width :767px) {
	.blogs {
		padding-top: 20px;
	}
	.blog-item,
	.right-rail-container .tnl-wrapper .blog-item {
		width: 100%;
		margin-bottom: 25px;
	}
	.large-box .blog-image {
		height: 135px;
	}
	.blog-content {
		min-height: inherit;
	}
	.blog-content a {
		position: static;
	}
	.tnl-wrapper .blog-image {
		height: auto; /* Davinder - Jul 13, 2018 */
		max-width:100%; /* Davinder July 13, 2018 */
		
	}
	
	/* May 25, 2018 Davinder CHIP12  */
	.hideForDesktop {
		visibility: visible;
		margin-top: 0; 
	}
	/* End of Additions */
}

@media (min-width: 768px) and (max-width: 991px) {
	.first-tile-image-tablet .blog-image {
		height: 230px; /* added by Davinder to set image height to 230px in Tablet */
	}
	.first-tile-image-tablet {
		margin-bottom:30px; /* added by Davinder to add margin at bottom in Tablet */
	}
	.blog-item.last-tile-tablet-margin-bottom {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.blog-item.last-tile-tablet-margin-bottom,
	.right-rail-container .blog-item.last-tile-tablet-margin-bottom {
		margin-bottom: 0;
	}
}

/* Naresh - three options for images which should not be constrainted in desktop*/
@media ( min-device-width: 1200px) {
	.auto-image img {
		width: auto;
		height: auto;
	}
	
	.auto-image-width img {
		width: auto;
	}
	
	.auto-image-height img {
		height: auto;
	}
}