.calloutTiles .component .component .row {
    margin-left: 0;
    margin-right: 0;
}

.calloutTiles .component .row .row {
    display: flex;
    flex-wrap: wrap;
}

/* June 7, 2018 Added by Davinder CHIP27 */

.icons-row .icon-container {
	width:35px;
	height:35px;
	display:inline-block;
	margin:15px 30px 15px 0px;
}

.right-rail .icons-row .icon-container {
	margin:0px 20px 0px 0px;
}

.icons-row .icon-container img{
	width:35px; 
	height:35px;
	margin:0;
	padding:0;
}

.icons-row .icon-container a{
	width:35px; 
	height:35px;
	margin:0;
	padding:0;
}
.icons-row .icon-container .sprite, .icons-row .icon-container .sprite-v2{
	vertical-align: middle; 
}
.call-out .icon-container {
	width:50px; 
	height:50px;
	display:inline-block;
	margin:0;
	/* if the container is narrower than the element inside */
  	white-space: nowrap;
  	overflow:hidden;
  	margin-left:-3px;
}

.call-out.icon-dis-left {
	display:flex;
}

.call-out.icon-dis-left .category_content{
	flex:1; /* added for IE11 as image or icon was getting distorted */
}

.call-out .category_icon .icon-container {
	width:50px; 
	height:50px;
	/* height:auto; use this if do not want to restrict the height */
}

.call-out .category_icon {
	/* display:flex; need this only if height is not restricted to 50px and want to vertically when icon is on the left */
	margin-right:12px;
	text-align:center;
}

/* added to implement centering for callout icons*/
.call-out .icon-container:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
.call-out .icon-container img{
	max-width:100%; 
	height:50px;
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	object-fit:cover;
}

.call-out .icon-container span{
	margin:0;
	padding:0;
    display: inline-block;
	vertical-align:middle;
}
 
 .call-out .icon-container .sprite, .call-out .icon-container .sprite-v2{
	vertical-align: middle; 
}

/* End of Additions by Davinder CHIP27 */

/* Added by German to Fix Defect DE2589 */

@media all and (min-width: 768px) {
	.calloutTiles .col-md-6.callout-horizontal {
		width: 49%;
	}
	
	.calloutTiles .col-sm-6.callout-horizontal {
		width: 46%;
	}
}

/* End of additions by German to Fix Defect DE2589*/

/* Added by German to Fix Defect DE2590 */

@media all and (min-width: 992px) {
	
	.calloutTiles .col-md-4.callout-horizontal {
		width: 30%;  
		margin:0 0 30px 15px; 
	}
}

/* End of additions by German to Fix Defect DE2590*/

/* June 7, 2018 Added by Davinder CHIP27 */

@media all and (max-width: 767px) {
	.icons-row .icon-container {
		margin:15px 14px 15px 0px;
	}

}
/*  End of additions by Davinder */
