.calloutTiles .component .component .row {
    margin-left: 0;
    margin-right: 0;
}

.calloutTiles .component .row .row {
    display: flex;
    flex-wrap: wrap;
}

/* Added by German to Fix Defect DE2589 */

@media all and (min-width: 769px) {
	.calloutTiles .col-md-6.callout-horizontal {
		width: 49%;
	}
}

/* End of additions by German to Fix Defect DE2589*/

/* Added by German to Fix Defect DE2590 */

@media all and (min-width: 992px) {
	
	.calloutTiles .col-md-4.callout-horizontal {
		width: 33%;   
	}
}

/* End of additions by German to Fix Defect DE2590*/

