.find-provider-form {
	/*padding-right: 80px;*/
}

.find-provider-form .flex-box {
	flex: auto;
	margin-left: 10px;
}

.find-provider-form .flex-box:first-child {
	margin-left: 0;
}
.select .icon-triangle {
	top:13px;
}
.input-box {
	background-color: #ddf4f8;
	border: solid #8db9ca 2px;
	padding: 5px 0 5px 10px!important;
	margin-bottom: 9px;
}

.input-box input[type="text"],
.input-box select {
	font-size: 16px;
	width: 90%;
	color: #53565a;
}

.find-provider-form button {
	padding-bottom: 6px;
	padding-top: 6px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	line-height: 16px;
	display: inline-block;
	color: #53565a;
	white-space: nowrap;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: 2px solid #5b7f95;
	border-radius: 100%;
	z-index: 5;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
	content: '';
	width: 11px;
	height: 11px;
	background: #59cbe8;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

[type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.radio-buttons-wrapper {
	padding: 15px 0 30px 0;
}

.input-1 {
	padding-bottom: 15px;
}

.input-2 .select {
	margin: 0 2.3%;
}

.input-2 .input-box {
	width: 35%;
}
.fnd-image img {
	object-fit: none;
}

@media(max-width:1200px) {
	.find-provider-form {
		padding-right: 0;
	}
}

@media(max-width:1024px) {
	.fnd-image {
		height: 280px;
	}
}

@media(max-width:992px) {
	.find-a-provider .fnd-image {
		position: absolute;
		right: 0;
		top: 30px;
		width: 352px;
		height: 341px;
		padding-right: 0;
	}
	.input-box {
		margin-bottom: 14px;
	}
	.find-provider-form .flex-box {
		width: 46%;
		margin-left: 4%;
	}
	.find-provider-form .flex-box:nth-child(3) {
		margin-left: 0;
		max-width: 125px;
		position: relative;
		top: 20px;
	}
	.find-provider-form button {
		padding-bottom: 6px;
		padding-top: 6px;
	}
	.radio-buttons-wrapper {
		padding: 15px 0 25px 0;
	}
}

@media(max-width:767px) {
	.find-a-provider .content-middle {
		padding: 0;
	}
	.find-a-provider {
		padding-top:50px;
	}
	.input-2 .input-box {
		width: 48%;
	}
	.input-2 .select {
		margin: 0 0 0 4%;
	}
	.find-a-provider .fnd-image {
		height: 166px;
		position: static;
		width: 100%;
		margin-top: 60px;
		padding-right: 15px;
	}
	.fnd-image {
		margin-top:80px;
	}
	.find-provider-form {
		padding-top:0;
	}
}
