  .video-container{
    overflow: hidden;
  }
.thumb-titles{
    margin: 10px 0px 0px 0px;
    color: #426da9;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.opa-hide{
        opacity: 0.2;
    }

.main-play-title{
    display: inline-block;
    font-size: 20px;
    color:#426da9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: -5px;
}
.media-fifty{
    margin-top: 50px;
    margin-bottom: 15px;
}
.cs-player{
    width: 34%;
    float: left;
}
.main-player{
    width: 100%;
    min-height: 351px;
    background-color: #e7e7e7;
    border: 15px solid #e7e7e7;
    overflow: hidden;
  }
  .sub-Thumbs{
    width: 31.1%;
    min-height: 169px;
    background-color: #e7e7e7;
    display: inline-block;
    border: 10px solid #e7e7e7;
  }
  .video-container img{
    max-width: 100%;
    max-height: 100%;
}
.inactive-Thumbs{
    min-height: 170px;
    opacity: 0.3;
    background-color: #e7e7e7;
    border: 10px solid #e7e7e7;
    margin-top: 1px;
}
.cur-next, .cur-prev{
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #0097a9;
    display: inline-block;
    position: absolute;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    font-size: 0px;
    cursor: pointer;
}
.cur-next{
    right: 80px;
}
.cur-prev{
    left: 0;
}
.cur-next:after, .cur-prev:after{
    position: absolute;
    width: 13px;
    height: 13px;
    content: '';
    border-top: solid #fff 3px;
    border-right: solid #fff 3px;
    top: 13px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 12px;
}
.cur-prev:after{
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
}
.away{
    display: none;
}
.active{
    margin-left: 50px;
}

@media (max-width:767px) {

    .active {
        margin-left: 0px;
    }
    .main-player{
        border: 60px solid #e7e7e7;
        border-top: 30px solid #e7e7e7;
    }
    .cur-prev {
        margin-left: 10px;
    }
    .cur-next {
        margin-right: -5px;
        right: 0px;
    }    
}
.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.pr-0{
    padding-right: 0px;
}
.pl-0{
    padding-left: 0px;
}
.v-container{
    height: 263px;
    position: relative;
    width: 100%;
    display: flex;
}
.v-container img{
    max-width: 100%;
}