#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 99;
    /*display: none;*/
}

#loading-status {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    margin: -16px 0 0 -16px;
    /* is width and height divided by two */
}

#hideShowButton {
	border: 1px solid black;
	cursor: pointer;
}

.col-md-8, .col-md-12, .col-md-4  {
	position: relative;
}