@charset "utf-8";
.location {
  background: #f8f7f7;
  padding: 15px;
  z-index: 0;
}
.location .in {
  display: none;
}
.location div.small-wrapper {
  margin: 0 0 20px 0;
}
.location .row {
  margin-bottom: 0;
}
.location #map {
  background: gray;
  height: 400px;
  width: 100%;
}
.location .txt-address span,
.location .txt-address a {
  margin: 0 0 0 40px;
}
.location a.learn-more-btn {
  margin: 0;
}
.location a.learn-more-btn span {
  margin: 0 0 0 0;
}
.location .hours-icon:before {
  margin: -2px 0 0 -40px;
}
.location .address-icon:before {
  margin: -2px 0 0 -40px;
}
.location .phone-icon:before {
  margin: -2px 0 0 -40px;
}
.location .guide-icon:before {
  margin: -2px 0 0 0px;
}
.in .location {
  display: none;
}
