@charset "utf-8";
.location {
  background: #f8f7f7;
  padding: 15px;
  z-index: 0;
}
.location .in {
  display: none;
}
.location div.small-wrapper {
  margin: 0 0 20px 0;
}
.location div.link-wrapper {
  margin: 0 0 20px 0;
}
.location .row {
  margin-bottom: 0;
}
.location #map {
  background: gray;
  height: 400px;
  width: 100%;
}
.location .txt-address {
  /*span {
			margin: 0 0 0 40px; 		
		}*/
}
.location a.learn-more-btn span,
.location a.learn-more-btn a {
  /*margin: 0 0 0 40px;*/
  display: inline-block;
}
.location .small-icons {
  width: 31px;
  height: 35px;
}

/*.in .location {
  display: none;		It was creating an issue with the accordion feature, removed by German
} */
