.modal-content {
	box-shadow:none;
	border-radius:0;
	border:none;
}
.modal-footer {
	text-align:left;
}
.modal-body {
	padding:0 30px 15px 30px;
}
.modal-header {
	padding:15px 30px 0 30px;
}
.modal-footer {
	padding:0 30px 30px 30px;
}
.modal-header, .modal-footer {
	border:none;
}
.close {
	font-size:24px;
	opacity:1;
	color:#0097a9;
}
@media (min-width:768px) {
	.modal-dialog {
		width:80%;
	}
}

 .modal {
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}