.news_heading_hover:hover, 
.blogs_heading_hover:hover { 
    filter: alpha(opacity=55);
    opacity: .55;                
}

#search_blogs_list, 
#search_blogs_year,
#search_news_list, 
#search_news_year {
	-webkit-appearance:menulist;
	-moz-appearance:menulist; 
	background-color:#E6FFFF;
	width:60%;
}

.news_blog_list_heading {
	color:#426DA9;
	display:block;
	margin-top:0px;
	margin-bottom:0px;
}

.news_blog_featured_heading {
	display:block;
	margin-top:0px;
	margin-bottom:0px;
}

.padding_top_18 {
    padding-top: 18px;
}

/* added to fix two arrow issue with dropdown in IE11 */
.dropdown_articles::-ms-expand {
    display: none;
}

/*
#search_news_list option, 
#search_news_year option, 
#search_blogs_list option, 
#search_blogs_year option {
	background-color:#F2F2F2;
}
*/

ul.filtered_list, 
ul.filtered_blogs_list {
	padding-left:0px;
}

@media (min-width: 768px) {
    .featured-news-blog .flex {
        display: flex;
    }
}

@media (max-width: 480px) {
  .blog-news-padding-top {
    padding-top: 10px;
  }
}