.page-title-brand {
	background-color: #fdd757;
	overflow: hidden;
}

.page-title-brand>div {
	width: 50%;
	float: left;
}

.page-title-image {
	height: 140px;
}

.page-title-desc {
	padding-top: 25px;
	max-width: 370px;
}

@media (max-width:767px) {
	.page-title-brand>div {
		width: 100%;
		float: none;
	}
	.page-title-desc {
		max-width: 100%;
		padding: 30px;
	}
}