.tiles-wrapper .tile-inner {
  padding: 0 15px;
}
.tiles-wrapper .tile-inner .tile-img {
  /*min-height: 130px;*/
}
.tiles-wrapper .tile-inner .tile-img img {
  max-height: 200px;
  width: 157px;
  max-width: 100%;
}
.profileCarousel .item {
  /*background-color: red;
        height: 300px;
        padding: 1rem;
        margin: 1rem;*/
}
.profileCarousel .tiles-wrapper .tile-inner {
  padding: 0 15px;
}
.profileCarousel .tiles-wrapper .tile-inner .tile-img {
  /*min-height: 130px;*/
}
.profileCarousel .tiles-wrapper .tile-inner .tile-img img {
  max-height: 200px;
  width: 157px;
  max-width: 100%;
}
.profileCarousel .owl-theme .owl-nav [class*="owl-"] {
  top: 60px;
}
@media (max-width: 768px) {
  .profileCarousel .owl-theme .owl-nav [class*="owl-"] {
    top: 90px;
  }
}
@media (max-width: 480px) {
  .profileCarousel .owl-theme .owl-nav [class*="owl-"] {
    top: 100px;
  }
}
/* Added ny Naresh to fix margin issue on profile page*/
.tile-hr-no-top-margin { 
  margin-top:0px;
}
