.tiles-wrapper .tile-inner {
  padding: 0 15px;
}
.tiles-wrapper .tile-inner .tile-img {
  min-height: 130px;
}
.tiles-wrapper .tile-inner .tile-img img {
  margin: 0;
  max-height: 205px; /* Modified by Naresh, as per defect to have max height to 205 */
}

