

.cmp-text ul{
    padding: 7px 0 0 40px; /* Naresh - changed top padding to 7px, for spec to get 22 px between p tag and ul */
    
}

.cmp-text ul li {
	position: relative;
	list-style: none;
	font-size: 16px;
	padding-bottom: 3px;
	text-indent: -1.28571429em;   /* Added by German to show indent in bullet list */
	/* display: flex;          Removed by German to fix an issue with bullet lists */
}

 .cmp-text ul li::before {
	color: #00B0B9;         /* 	color of bullet or square */
	content: "\25E6";       /* 	Unicode of character to precede the list item. Modified by German to fix Defect DE2502, it was before -> content: "\25CB";  */
	position: relative;
 	font-size: 195%;        /* 	Modified by German to fix Defect DE2502, it was before -> font-size: 1em; */
	padding-right: 0.28em;  /* 	Modified by German to fix Defect DE2502, it was before -> padding-right: 0.58em; updated ny naresh as per defect */
	top: .18em;             /* 	Modified by German to fix Defect DE2502, it was before ->  top: 0em; */
	line-height: 70%;	    /*  Added by German to fix Defect DE2675 */
}

.cmp-text ol{
    padding: 7px 0 0 20px; /* Naresh - changed top padding to 7px, for spec to get 22 px between p tag and ol */
	/*     Changing value above for Defect DE2726. It was before padding: 7px 0 0 40px; */
    list-style: none;
    counter-reset: li;
    font-size: 22px;
    font-size: 16px;   
    padding-bottom: 3px;
    
}



.cmp-text ol li::before {
   
   content: counter(li); 
    color: #00B0B9; 
   /*  content: "\2686";*/
  /* Unicode of character to precede the list item */
  font-size: 1em; 
  /* em or %*/ 
  padding-right: 0.58em; /* updated ny naresh as per defect */
  /* use em*/
  position: relative;
  top: 0em; 
    
  /* use em or % */

}

.cmp-text ol li {
	counter-increment: li;
	display: flex;
}

/* Added by German for Defect DE2691 */

.right-rail-text img {
	max-width: 100%;
}

/* End of additions by German for Defect DE2691 */

/* Added by German for Defects DE2692 and DE2612 */

.infoband .link-wrapper {
	padding-top: 24px;    /* To make the button after any paragraph to have a padding on top of 24px total */
}

/* End of additions by German for Defects DE2691 and DE2612 */