.secondary-nav {
	margin-top: 22px;
}

.secondary-nav ul li {
	float: left;
}

.secondary-nav ul li a {
	opacity: 0.9;
}

.secondary-nav ul li i {
	width:6px;
	height:6px;
	margin:0 9px 0 2px;
	top:-1px;
}
