.video {
	position: relative;
	max-width: 1000px;
}

.video img {
	width: 100%;
	margin: 0 0 15px 0;
}


.video-button-small {
	width: 38px;
	height: auto; /* changed to auto, as this was adding extra space after video image*/
}

.video-button:hover, .video-button-small:hover {
	background-color: #fff;
	color: #f2a900;
	opacity: 1;
	/*opacity: .55;
	filter: alpha(opacity=55);  TODO - do we still need as jquery is changing hover opacity now*/
}

/* Redudant ? .video img:hover*/
.video_popup img:hover {
	opacity: 1; /* Added by Naresh - no need to create opacity for image, even with hover*/
}

.embeded-video {
	padding-bottom: 30px;
}

.sub-Thumbs .video img {
	margin: 0;
}

.gutter-top {
	margin-top: 10px;
}

.gutter-bottom {
	margin-bottom: 10px;
}

.callout-content {
	padding: 35px 0;
	position: relative;
}

.callout-content .learn-more-btn {
	margin-top: 10px;
}

/* Added by German as per defect DE2558 by having 60px at top and bottom of header for accordions */

.accordion-wrapper h3 {
	padding-bottom: 60px;
}

/* End of additions for defect DE2558 */

.accordion-wrapper {
	/* padding-top: 20px;    Removed by German, padding top shouldn't be there anymore for components */
	overflow: hidden;
}

.collapsed {
	background-color: #fff;
}

.collapsed .accordion-header {
	color: #009775;
}

.collapsed .card-header {
	background-color: #fff;
}

.collapsed .accordion-arrow {
	transform: rotate(135deg);
	border-color: #009775;
}

.card-header {
	border-top: solid #e1e6ee 2px;
	background-color: #f8f7f7;
	cursor: pointer;
}

.accordion-header {
	float: left;
	padding-left: 15px;
}

.card-body {
	background-color: #f8f7f7;
	padding: 5px 10px 15px 15px;
}

.accordion-arrow {
	top: 8px;
	right: 15px;
	color: #24509a;
	float: right;
	transform: rotate(-45deg);
	transition: all 0.2s ease-in-out;
	border-width: 2px;
	border-color: #24509a;
}

.right-rail {
	background-color: #f8f7f7;
	padding: 20px 0;
}

.gutter-sides {
	padding: 0 25px;
}



@media ( min-width : 992px) {
	.right-rail {
		margin-left: 40px;
	}
	.video-inner {
		height: 388px;
	}	
}

@media ( max-width : 992px) {
	.right-rail {
		margin-top: 50px;
		/* Naresh - add the -ve margin to make right rail go full bleed */
		margin-left: -40px;
    	margin-right: -40px;
	}
	.accordion-wrapper {
		margin-bottom: 50px;
	}
	.gutter-sides {
		padding: 0 40px; /* Naresh - changed padding for tablet to 40px to offset -ve margin for bleed */
	}
}

@media ( max-width : 767px) {
	.right-rail {
		margin-top: 20px;
	}
	.video-inner {
		height: 140px;
	}
}

/*  Added by German to fix issue with accordion-wrapper as per Defect DE2569  */

/*  ONLY MOBILES */

@media ( max-width :474px) {
	.accordion-header {
		max-width: 160px;
	}
	
	/* Removed by German. If we manage to remove container class from accordions then we don't need below style */
	
	/* .accordion-wrapper {
		margin-left: -15%;
		margin-right: -15%
	} */  
	
}

/* End of additions by German */