<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This version has no margin, used when embedded in other components
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.image="org.chi.aem.common.components.model.Image"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>

<a data-sly-unwrap="${!image.linkURL}" href="${image.linkURL}" target="${image.targetBlank==true ?'_blank':'_self'}">
    <picture data-sly-test="${((image.imgTabSrc == image.fileReference) && (image.imgMobSrc == image.fileReference))}">
        <source srcset="${image.fileReference}" sizes="100vw" />
        <img src="${image.fileReference}"
             class="${properties.useOriginalSize?'image-max-width-responsive':'image-responsive'}"
             alt="${image.alt || 'Image Component'}"/>
    </picture>
    <picture data-sly-test="${(image.imgTabSrc == image.fileReference) && (image.imgMobSrc != image.fileReference)}">
        <source media="(min-width: 768px)" srcset="${image.fileReference}" sizes="100vw" />
        <source media="(min-width: 10px)" srcset="${image.imgMobSrc}" sizes="100vw" />
        <img src="${image.fileReference}"
             class="${properties.useOriginalSize?'image-max-width-responsive':'image-responsive'}" alt="${image.alt || 'Image Component'}"/>
    </picture>
    <picture data-sly-test="${(image.imgMobSrc == image.fileReference) && (image.imgTabSrc != image.fileReference)}">
        <source media="(min-width: 992px)" srcset="${image.fileReference}" sizes="100vw" />
        <source media="(min-width: 768px)" srcset="${image.imgTabSrc}" sizes="100vw" />
        <img src="${image.fileReference}"
             class="${properties.useOriginalSize?'image-max-width-responsive':'image-responsive'}" alt="${image.alt || 'Image Component'}"/>
    </picture>
    <picture data-sly-test="${(image.imgTabSrc != image.fileReference) && (image.imgMobSrc != image.fileReference)}">
        <source media="(min-width: 992px)" srcset="${image.fileReference}" sizes="100vw" />
        <source media="(min-width: 768px)" srcset="${image.imgTabSrc}" sizes="100vw" />
        <source media="(min-width: 10px)" srcset="${image.imgMobSrc}" sizes="100vw" />
        <img src="${image.fileReference}"
             class="${properties.useOriginalSize?'image-max-width-responsive':'image-responsive'}" alt="${image.alt || 'Image Component'}"/>
    </picture>
</a>
<p class="light-txt" data-sly-test="${properties.imageCaption}">${properties.imageCaption}</p>
<sly data-sly-call="${template.placeholder @ isEmpty=!image.fileReference}"></sly>


<!--  Added for Image Enhancement -->
<div class="row" style="border: 1px solid black;" data-sly-test="${(wcmmode.edit || wcmmode.design) && image.fileReference}">
<h4>Image Variant Editor</h4>
  <div id="desktop" style="display:none">
    <sly data-sly-test="${image.fileReference}">
        <h4>Edit Image for Desktop (displayed during edit mode only)</h4>
        <div data-sly-resource="${ @path='nb-header-image', resourceType='chinational/components/content/imageHeaderNewsBlog'}"></div>
    </sly>
  </div>
  <div id="ipad" style="display:none">
    <sly data-sly-test="${image.fileReference}">
        <h4>Edit Image for iPad (displayed during edit mode only)</h4>
        <div data-sly-resource="${ @path='nb-tile-from-header-image', resourceType='chinational/components/content/imageTileFromHeaderNewsBlog'}"></div>
    </sly>
  </div>
  <div id="mobile" style="display:none">
    <sly data-sly-test="${image.fileReference}">
        <h4>Edit Image for Mobile (displayed during edit mode only)</h4>
        <div data-sly-resource="${ @path='nb-tile-image', resourceType='chinational/components/content/imageTileNewsBlog'}"></div>
    </sly>
  </div>
</div>

