<div class="component" data-sly-use.mainnav="org.chi.aem.common.components.model.Navigation"
     data-sly-test="${mainnav.childItems}">
    <div class="row bottom-buffer">
        <div class="col-xs-12" >
            <div class="custome-dd-outer" >
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" class="custome-dd sec_nav_bg_site_color">
                        ${currentStyle.defaultText}
                        <i class="arrow-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <div class="row submenu-fix" data-sly-list.subnav="${mainnav.childItems}">
                            <li class="${mainnav.childItems.size > 2?'col-md-4 col-sm-4':'col-md-6 col-sm-6'}">
                                <a href="${subnav.url}">${subnav.title}</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

