* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mc_list {
    list-style: none;
    /* Added by German for media-center.html */
}

.mc_list h3 {
    padding-bottom: 0px;
    /* Added by German for media-center.html */
}

.padding-x {
    /*     padding: 30px 0;    Removed by German for foundation.html */
}



/* Added by German for foundation.html Defect DE2590 */

.rowFix {
    padding-left: 15px;
    padding-right: 15px;
}

.submenu-fix {
    padding-left: 20px;
    padding-right: 20px;
}


/* End of additions by German */


/* Below code has been added by German to fix icon triangle display in drop down lists (DE2594) */

.pstn-reltv select {
    width: 95% !important;
    margin-right: -15px;
}



/* End of additions for Defect DE2594 */

.bottom-buffer {
    padding-bottom: 30px;
    /* Added by German for content-details_RR.html */
}

.bottom-buffer-gray-line {
    margin-top: 0px;
    /* Added by Naresh, as hr has margin top 20px, but we don't need that*/
    margin-bottom: 30px;
    /* Added by German for content-details_RR.html */
}

.full-width-container .width-for-gray-line {
    margin-left: calc(-8.7vw / 2);
    /* Added by German */
    margin-right: calc(-8.7vw / 2);
    /* Added by German */
    /* Added by Naresh, as line height and font size was adding 20px to the row, and bottom buffer already adds 30 px*/
    line-height: 0px;
    font-size: 0;
}

/* Added to extend grey line  to corners, else it was terminating and showing white space */

@media (max-width: 1200px) {
    .full-width-container .width-for-gray-line {
        margin-left: calc(-11.7vw/2);
        margin-right: calc(-11.7vw/2);
       }
}

@media (max-width: 767px) {
    .full-width-container .width-for-gray-line {
        margin-left: calc(-14.7vw/2);
        margin-right: calc(-14.7vw/2);
       }
}

@media (max-width: 320px) {
    .full-width-container .width-for-gray-line {
        margin-left: calc(-18.7vw/2);
        margin-right: calc(-18.7vw/2);
       }
}

.full-bleed-tiles {
    margin-left: -4.633%;
    /* Added by German for special-content.html */
    margin-right: -4.633%;
    /* Added by German for special-content.html */
}

.right-rail-container .width-for-gray-line {
    margin-left: .1%;
    /* Added by German for content-details_RR.html */
    margin-right: .1%;
    /* Added by German for content-details_RR.html */
    /* Added by Naresh, as line height and font size was adding 20px to the row, and bottom buffer already adds 30 px*/
    line-height: 0px;
    font-size: 0;
}

.gray-margin-top {
    padding-top: 30px;
    /* Added by German for content-details_RR.html */
    background-color: #f8f7f7;
    /* Not used in AEM, remove before Go Live */
}

.more-content {
    margin-bottom: 25px;
}

.gutter2 {
    padding: 0 0 0 50px;
}

.component {
    clear: both;
}

.gutter-top-bottom {
    padding: 30px 0 10px 0;
}

.max-length {
    max-height: 130px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.max-length:before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    height: 100px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 1) 68%);
    background: -webkit-gradient(left top, left bottom, color-stop(32%, rgba(255, 255, 255, 0)), color-stop(68%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 1) 68%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 1) 68%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 1) 68%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.margin-25 {
    margin: 25px 0;
}

.spl-link {
    color: #00b0b9;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.7px;
}

.flex-item {
    flex: 1;
}

.map {
    margin-right: 55px;
}

.map iframe {
    width: 100%;
}

.small-wrapper {
    padding: 5px 0;
}

.address-icons {
    width: 28px;
    height: 28px;
    background: #eee;
    position: relative;
    top: 9px;
    margin-right: 5px;
}

.icons-set {
    padding-bottom: 25px;
}

.small-txt {
    font-size: 16px;
}

.padding-50 {
    padding: 50px 0;
    position: relative;
}

.padding-top-30 {
    padding-top: 30px;
    position: relative;
}

/* May 25, 2018 Added by Davinder CHIP12 */
.padding-top-0 {
    padding-top: 0 !important;
}
/* End of additions */

span {
    display: inline-block;
    vertical-align: baseline;
}

ul {
    margin: 0;
}

li {
    padding: 6px 0;
}

hr {
    border: solid 1px #e7e7e7;
}

.content-outer,
.content-inner {
    padding: 10px 0;
    /* Modified by German for content-details_RR.html -> it was 30px 0; */
}

.bold-link {
    font-weight: bold;
    letter-spacing: 1.7px;
    bottom: 0;
    left: 0;
    color: #0097a9;
    text-transform: uppercase;
    /* Added by Naresh for bug fix */
}

.bold-link:hover {
    color: #0097a9;
    /* Added by Simon for Hover fix */
}

.other-news {
    border-left: solid 2px #e7e7e7;
    margin-left: auto;
}

.bleed-box1,
.bleed-box2 {
    color: #fff;
    display: flex;
}

/* Removed by German to fix issue with IE11 

.bleed-box1>div,
.bleed-box2>div {
    flex: 1;
}

*/

.bleed-box1 {
    background-color: #24509a;
}

/* As per zeplin, its 72 when bleed box with text only on right  and 30 when text only on left*/
/* cotent gutter is used when there is top image or no image, and left is 59 px for 1st tile or 33 px for 2nd tile */
.bleed-box1 .content-gutter {
    padding: 35px 30px 35px 60px;
}

.bleed-box2 .content-gutter {
    padding: 35px 60px 35px 30px;
}

/* content gutter is different with image on left or right*/
/* padding order: top right bottom left*/
.bleed-box1 .content-gutter-with-image {
    padding: 35px 30px 35px 21px;
}

.bleed-box2 .content-gutter-with-image {
    padding: 35px 60px 35px 21px;
}

.content-col2 {
    padding: 15px 30px 30px 30px;
}

.bleed-box2 {
    background-color: #00b0b9;
}

.btn-primary {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    background-color: #0097a9;
    border: solid #0097a9 1px;
    letter-spacing: 1.7px;
    font-weight: bold;
}

.req-app {
    width: 240px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.padding-top {
    padding-top: 60px;
}

.locations-wrapper {
    padding: 60px 0 20px 0;
}

.padding-20 {
    padding: 20px 0;
}

.arrow-link-txt {
    color: #0097a9;
    font-size: 14px;
    position: relative;
    display: block;
}

.arrow-up,
.arrow-right,
.arrow-down,
.arrow-left {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: solid #53565a 1px;
    border-right: solid #53565a 1px;
    position: relative;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}


.custome-dd {
    height: 45px;
    background-color: #86C8BC;
    padding: 1px 0 0 14px;
    /*margin: 10px 0 30px 0;*/
    position: relative;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 15px;
    font-weight: bold;
}

.custome-dd i {
    border-width: 2px;
    margin: 0 20px 0 0;
    top: 1px;
    border-color: #24509a;
    width: 12px;
    height: 12px;
    float: right;
}

.large-blue-txt {
    font-size: 48px;
    color: #24509a;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    margin: 5px 0 15px 0px; 		/* fix the bottom padding to 11 px matc Zeplin 		
     								*  German: Changing margin-top to 5px instead of -2px
     											and margin-bottom to 15px instead of 11px  */
}

.large-blue-txt.page-title {
    margin: 0 0 17px 0;
}

.section-breadcrumb ul {
    padding-left: 0;
}

.section-breadcrumb ul li {
    float: left;
    padding: 0;
}

.section-breadcrumb {
    padding-bottom: 28px;
}

.section-breadcrumb .arrow-link-txt {
    color: #53565a
}

.section-breadcrumb .arrow-right {
    border-color: #53565a;
    margin: 0 8px 0 2px;
}

.custome-dd-outer .dropdown-menu {
    width: 680px;
    /* Modified by German for Defects DE2614 and DE2651, it was before -> width: 588px; */
/*     z-index: 4;  Removed by German to fix Defect DE2576 */
}



/* Added by German for Defects DE2614 and DE2651 */

.custome-dd-outer ul li a {
    color: #81868c;
}



/* End of additions by German for Defects DE2614 and DE2651 */

.custome-dd-outer ul li {
    margin-bottom: 15px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.custome-dd-outer .dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    border: none;
    background-color: #f8f7f7;
}

.arrow-up {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-right {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-left {
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.icon-triangle {
    /*
    Removed by German and Replaced with below code to fix icon triangle display in drop down lists (DE2594)
    
    right: 10px; 
    top: 7px; 
    font-size: 11px; 
    position: absolute; 
    background-position: -777px -49px; 
    width: 12px; 
    height: 7px;   */
    padding-right: 7px;
    padding-left: 7px;
    width: auto;
    top: 0;
    left: 0;
    font-size: 11px;
    position: relative;
    background-position: -701px -47px;
}

.arrow-link-txt i {
    top: -1px;
    width: 6px;
    height: 6px;
    margin: 0 3px 0 0;
    border-color: #0097a9;
}

.btn-primary:hover {
    background-color: #0097a9;
    border-color: #027886;
}

.bgnd-green {
    background-color: #00b140;
}

.owl-carousel .owl-item img {
    width: inherit;
}

.owl-carousel {
    padding: 0 70px
}

.owl-theme .owl-nav [class*='owl-'] {
    width: 40px;
    height: 40px;
    background-color: #0097a9;
    display: inline-block;
    position: absolute;
    top: 112px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    font-size: 0px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #0097a9;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .owl-prev {
    left: 0;
}

.owl-theme .owl-nav .owl-next {
    right: 0;
}

.owl-prev:after,
.owl-next:after {
    position: absolute;
    width: 13px;
    height: 13px;
    content: '';
    border-top: solid #fff 3px;
    border-right: solid #fff 3px;
    top: 13px;
}

.owl-next:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 12px;
}

.owl-prev:after {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    left: 16px;
}

.flex-box {
    display: flex;
}

.flex-box div {
    align-items: end
}

.carousel-image,
.carousel-image-single {
    padding-right: 10px;
}

.tile-img {
    padding-right: 10px;
}

.carousel-description p {
    margin-top: 5px;
}

.carousel-description,
.carousel-description-single,
.tile-desc {
    position: relative;
}

.carousel-item {
    margin-left: 30px;
    flex: 1;
}

.carousel .flex div {
    align-items: end
}

.tiles-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    flex: 1;
    min-width: 50%;
}

.tile:nth-child(odd) {
    padding-right: 50px;
}

.tile-inner {
    display: flex;
}

.description p {
    margin: 0 0 45px 0;
}

.carousel-item:first-child {
    margin-left: 0;
}

.flex-buttons {
    display: flex;
    margin-top: 10px;
}

.flex-buttons>div {
    margin-right: 20px;
}

.carousel h3 {
    padding-bottom: 15px;
}

.image-col {
    /* width: 326px; coomented by Davinder to fix bug */
    width: 360px; /* Added by Davinder */
    height: 265px;
}

.image-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-large-header {
    font-size: 36px;
    color: #24509a;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    /* added by Naresh to fix bug */
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    /*margin: 25px 0 0 0; Commended by Naresh to fix bug*/
}

.news-date {
    font-size: 24px;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    opacity: 0.7;
    font-style: italic;
    /* margin-bottom: 48px;  Removed by German and adding instead padding-bottom property instead (below) */
    /* updated by Naresh for fixing a defect */
    color: #97999B;
    /* added by Naresh for fixing a defect */
    padding-bottom: 43px;   /* Added by German to fix the date in news pages. It should be 43px according to Zeplin */
}

.news-sub-header {
    font-size: 20px;
    color: #426DA9;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    padding-top: 20px;
}

h1 {
    font-size: 48px;
    font-style: italic;
    line-height: 55px;
    font-weight: lighter;
    margin: 0;
    color: #24509a;
}

h2 {
    font-size: 36px;
    color: #24509a;
    font-style: italic;
    margin: 0;
}

h3 {
    font-size: 28px;
    color: #24509a;
    margin: 0;
    padding-bottom: 15px;
    /* Added by Naresh, as all H3 should have 15 px below it, as per style guide */
}

h4 {
    font-size: 24px;
    color: #24509a;
}

h5 {
    font-size: 15px;
    color: #24509a;
    margin: 0;
    letter-spacing: 1.7px;
    font-weight: bold;
}

h6 {
    font-size: 15px;
    color: #24509a;
    margin: 0;
    letter-spacing: 1.7px;
    font-weight: bold;
}


.thin-border {
    border-top: none;
    border-bottom: solid 1px #e1e6ee;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashed-border {
    border-top: none;
    border-bottom: dashed 1px #97999B;
    margin-top: 15px;
    margin-bottom: 15px;
    /* Updated by Narehs to 15px for bug fix*/
}


label {
    font-weight: normal;
}

.button-label {
    font-size: 15px;
    color: #24509a;
    margin: 0;
    padding: 0;
    letter-spacing: 1.7px;
    font-weight: bold;
    display: block;
    text-align: left;
    text-transform: uppercase;
    /*Added by naresh to fix a bug */
}

.embeded-video .light-txt {
    padding-bottom: 0;
    margin-bottom: 0
}

.iframe {
    height: 423px;
}

.iframe iframe {
    width: 100%;
    height: 100%;
}

.caption {
    font-size: 14px;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    font-style: italic;
}

/* Commented by Naresh, as we don't want padding on top, let H3 above it add the padding
.image-wrape {
    padding-top: 20px;
}*/

/* Used on news/blog details page*/
.wrapper-block-margin {
    margin: 0 0 15px 0; /* TRBL*/
}

.image-wrape img {
    float: left;
    padding: 0 30px 0 0;
    /* Naresh - no padding needed for bottom*/
}

.image-wrape .nb-textwrap p:first-child{
    margin-top: -20px;
}

@media(max-width:767px) {
    .image-wrape .nb-textwrap p:first-child{
        margin-top: 20px;
    }

    /* In mobile, there is no text wrap*/
    .image-wrape .nb-textwrap {
        float: right;
    }

    /* Padding and marging around image caption is controlled by image and text aorund it*/
    .image-wrape .light-txt {
        padding: 0px;
        margin: 0px;
    }
}

.float-left {
    float: left;
}

/*
.image-wrape p {
    margin: 0 0 30px 0;
}
Commented by Naresh - we don't need extra spacing by other elements
*/

.small-header {
    font-size: 28px;
    margin: 0 0 15px 0;
}

.bullet-text {
    padding: 10px 0;
    position: relative;
}

.bullet-text a {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    display: inline-block;
}

.bullet-text i {
    border-color: #e1523d;
    top: 16px;
    left: 0;
    position: absolute;
    width: 8px;
    height: 8px;
    border-width: 2px;
    margin: 0;
}

.bullet-text-outer {
    padding: 7px 0 0 40px;   /* Modified by German to fix Defects DE2612 and DE2692, before was padding: 10px 0 0 40px; */
}

.bullet-text li {
    list-style: circle;
    font-size: 22px;
    color: #00b0b9;
    padding-bottom: 3px;
}

.bullet-text li span {
    font-size: 16px;
    color: #53565a;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
}


p:first-child {
     margin: 0 0 15px 0;  
}

/* Added by German to adjust paragraph structure in Defect DE2612 */

p:last-child {
     margin: 15px 0 0 0;  
}

/* End of additions to adjust paragraph structure in Defect DE2612 */


/* right rail gutter side correction for seperator 
   Naresh - Adding after p:first-child, else that was taking priority
   for right rail.
*/

.right-rail .separator.gutter-sides {
    padding: 0;
}

.right-rail-standalone-twitter {
	margin: 20px 0;
}

.right-rail-text p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* When experience fragment uses right rail border, it does not show up as red, this is to fix that */
.right-rail .red-border, .xfpage .red-border {
    border-color: #e1523d;
}

/* these overrides to make separator under expereinence fragment work within right rail*/
.right-rail .experiencefragment .separator {
    margin-left: -25px;
    margin-right: -25px;
}

@media (max-width: 1023px) {
  .right-rail .experiencefragment .separator {
      margin-left: -40px;
      margin-right: -40px;
  }
}

@media (max-width: 767px) {
    .right-rail .experiencefragment .separator {
        margin-left: -30px;
        margin-right: -30px;
    }
}

.pstn-abslt {
    position: absolute;
}

input,
input:focus,
select {
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

.show-on-landscape,
.show-on-mobile,
.show-on-portrait {
    display: none;
}

.cursor-p {
    cursor: pointer;
}

body,
textarea,
button,
input {
    font-family: myriad-pro, 'Myriad Pro', arial, Helvetica;
}

button {
    border: none;
    outline: 0;
}

.txt-green {
    color: #009775;
}

a {
    text-decoration: none;
    color: #426da9;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.txt-gray {
    color: #53565a;
}

.txt-gray:hover {
    color: #426da9;
}

.txt-blue {
    color: #426da9;
}

.txt-bold {
    font-weight: bold;
}


a:hover,
button:hover {
    text-decoration: none;
    opacity: .55;
}

/* DE2507 - Set hover state to icons for IE - sbrown*/
a i:hover,
button i:hover {
    opacity: .55;
}
/* EOF -  DE2507 - Set hover state to icons for IE -sbrown */

/* Naresh - we don't need hover over in video, even under a link, and same for video in hero component*/
.intro_img a:hover, .video a:hover{
    opacity: 1;
}

/* Naresh - We want to get opacity when someone hover overs video, but not double it when hovering over play icon*/
.intro_img a i:hover, .video a i:hover{
    opacity: unset;
}

/* Naresh added opacity for link under logo*/

.logo-strip a:hover,
.infoband .buttons-outer a:hover,
.compositeButtons .flex-buttons a:hover {
    opacity: 1;
}   
    
.other-news a:hover {
    color: #426da9;
}

a:visited,
a:focus {
    text-decoration: none;
}

.footer a {
    color: #53565a;
}

.footer a:hover {
    color: #53565a;
}

body {
    font-size: 14px;
    color: #53565a;
}

.bgnd-blue {
    background-color: #0097a9;
}

.bgnd-san-marino {
    background-color: #426da9;
}

.pading-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.solid-circle {
    width: 50px;
    height: 50px;
    background-color: #e1e6ee;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.learn-more-btn {
    border: solid 2px;
    font-size: 15px;
    padding: 6px 20px;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.blue-solid {
    background: #426da9;
    color: #fff;
    border-color: #426da9;
}

.blue-solid:hover,
.blue-solid:active,
.blue-solid:focus {
    background-color: #0097a9;
    color: #fff;
    text-decoration: none;
    border-color: #0097a9;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.light-gray {
    background-color: #f8f7f7;
}

.flex-row {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /*     padding: 0 15px;   Removed by German for foundation.html  */
}

.padding-top-10 {
    padding-top: 10px
}

.content-row-gutter {
    padding-top: 30px;
}

.bottom-gutter {
    padding-bottom: 20px;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
    margin: 0 0 8px 0;
}

.sub-heading {
    font-size: 20px;
    color: #0097a9;
    display: block;
    margin: 0 0 20px 0;
    /* Modified by German for content-details_RR.html -> it was 60px 0 20px 0; */
}



/*.video-button,
.video-button-small {
    width: 90px;
    height: 90px;
    background-color: #f2a900;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    font-size: 34px;
}

.video-button-small {
    width: 38px;
    height: 38px;
}

.video-button:hover,
.video-button-small:hover {
    background-color: #fff;
    color: #f2a900;
    font-size: 28px;
}*/


/*.icon-play,
.icon-play-small {
    background: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/

.icon-play-small {
    width: 10px;
    height: 10px;
}

.blue-full {
    color: #fff;
    background-color: #24509a;
    border-color: #24509a;
}

.blue-full:hover,
.blue-full:focus,
.blue-full:active {
    border-color: #0097a9;
    background-color: #0097a9;
    color: #fff;
}

a.border-orange {
    color: #FF6A39;
    background-color: #fff;
}

a.border-orange:hover {
    border-color: #FF6A39;
    color: #FF6A39;
}

a.border-orange-dark::link,
a.border-orange-dark:visited,
a.border-orange-dark:active {
    color: #FF6A39;
    background-color: #fff;
}

a.border-orange-dark {
    color: #E1523D;
    background-color: #fff;
}

a.border-orange-dark:hover {
    border-color: #E1523D;
    color: #E1523D;
}

a.border-orange-dark::link,
a.border-orange-dark:visited,
a.border-orange-dark:active {
    color: #E1523D;
    background-color: #fff;
}

a.border-red {
    color: #C8102E;
    background-color: #fff;
}

a.border-red:hover {
    border-color: #C8102E;
    color: #C8102E;
}

a.border-red::link,
a.border-red:visited,
a.border-red:active {
    color: #C8102E;
    background-color: #fff;
}

.white-border:hover,
.white-border:focus {

    /*background-color: #fff;*/
    color: #fff;
    /*border-color: #fff;*/
}

.white-border {
    border-color: #fff;
    color: #fff;
    background: none;
}

.section {
    margin-bottom: 55px;
    position: relative;
}

.txt-blue-shade {
    color: #0097a9;
}

.call-no {
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    padding-left: 54px;
    display: block;
}

.txt-white {
    color: #fff;
}

.clear:after,
.clear:before {
    content: '';
    display: block;
    clear: both;
}

.bgnd-white {
    background-color: #fff;
}

header,
nav {
    display: block
}

.media-contact {
    font-size: 16px;
    line-height: 20px;
}

.container {
    padding-right: 60px;
    padding-left: 60px;
}

.container-full {
    margin-right: -60px;
    margin-left: -60px;
}

.pstn-reltv {
    position: relative;
}

.pstn-fxd {
    position: fixed;
}

.vrtl-middle {
    vertical-align: middle;
}

.inblock {
    display: inline-block;
}

.dblock {
    display: block;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.clear {
    clear: both;
}

.content-row a {
    margin-top: 20px;
}

.content-row .large-blue-txt {
    margin: 10px 0 0 0;
}

.bgnd-light-gray {
    background-color: #e6e6e6;
}

.bgnd-light-sky {
    background-color: #e1e6ee;
}

img {
    margin: 0 0 15px 0;
    width: auto;
    /*max-width: 100%;*/
    /* removed by Simon */
}

.full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-curvo,
.banner-short-curvo {
    top: -20px;
    right: -37px;
    bottom: -20px;
    width: 100px;
    transform: rotate(8deg);
    position: absolute;
    z-index: 3;
}

.small-heading {
    font-size: 20px;
    color: #426da9;
    display: block;
}

.overlay {
    display: none;
    z-index: 1;
}

.blogs .row {
    display: flex;
}

.edge {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.light-txt {
    color: #94999c;
    font-family: myriad-pro, 'MyriadPro-It', arial, Helvetica;
    line-height: 20px;
    font-style: italic;
    font-size: 14px;
    margin: 0 0 15px 0; /* Updated margin to only have bottom padding, as image above adds its own margin bottom, for video*/
    /*     padding: 8px 0 20px 0;    Removed by German for content-details_RR.html */
    margin-top: 8px !important;   /* Added by German for Image and video padding requirements in MAM-96 */
}

.calloutTiles .callOuts {
    padding: 0 20px;
}

@media (max-width:1024px) {
    .show-on-landscape {
        display: inline-block;
    }
    a:hover {
        color: inherit;
    }
}

@media (max-width:992px) {
    .show-on-desktop-only {
        display: none;
    }
    .carousel-image {
        padding-left: 60px;
    }
    .tiles-wrapper {
        display: block;
    }
    .tile:nth-child(odd) {
        padding-right: 0;
    }
    .owl-carousel {
        padding: 0;
    }
    .other-news {
        border: none;
        padding-top: 35px;
        margin-top: 35px;
    }
    .other-news:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        content: '';
        height: 2px;
        background: #e7e7e7;
    }
    
    .show-on-portrait {
        display: inline-block;
    }
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
    .custome-dd-outer .dropdown-menu {
        width: 688px;
    }

    /* Updated as margin was nor working with z-index of components, like location map
        so, converted to padding for tablet and mobile*/
    .heading h1,
    .heading h2,
    .heading h3,
    .heading h4,
    .heading h5,
    .heading h6 {
        margin-bottom: 0;
        padding-bottom: 8px;
    }
    
}

@media (max-width:767px) {
    .section {
        margin-bottom: 40px;
    }
    .section-breadcrumb {
        padding: 14px 0 32px 0;
        /* Modified by German for Defect DE2611, it was before -> padding: 0 0 32px 0; */
    }
    .gutter2 {
        padding: 25px 0 0 0;
    }
    .flex-row,
    .flex-box {
        display: block;
    }
    .bleed-box1 .content-gutter, .bleed-box2 .content-gutter {
        padding: 35px 30px 35px 30px;
    }
    /* Added to create difference for desktop view, carry over for mobile*/
    .bleed-box1 .content-gutter-with-image, .bleed-box2 .content-gutter-with-image {
        padding: 35px 30px 35px 30px;
    }
    .map {
        margin-right: 0;
    }
    .image-col {
        width: 100%;
        height: 230px;
    }
    .margin-right-60 {
        margin-right: 0;
    }
    .carousel-description {
        padding-right: 60px;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        top: 82px;
    }
    .content-row a,
    .visual-box a {
        margin-top: 60px;
    }
    .other-news-txt {
        padding: 5px 0;
    }
    .other-news {
        margin: 35px 0 40px 0;
    }
    .content-col {
        padding: 15px 30px 35px 30px;
    }
    .image-row {
        height: 108px;
    }
    .ie-object-fit {
        background-size: cover;
        background-position: center center;
    }
    .iframe {
        height: 245px;
    }
    .image-wrape img {
        padding: 0 0 0 0;
        /* Naresh - no extra padding needed from any image*/
        float: none;
    }
    .learn-more-btn {
        display: block;
    }
    .custome-dd-outer .dropdown-menu {
        width: 100%;
    }
    /*.custome-dd-outer {
        padding: 0 15px;
    }*/
    /*.custome-dd i {  // removed by simon brown for DE2776 
        display: none;
    } */
    .content-outer {
        padding: 0;
    }
    .light-txt {
        padding: 8px 0 0 0; 
    }
    .video-button {
        width: 32px;
        height: 32px;
    }
    .icon-play {
        width: 10px;
        height: 10px;
    }
    .banner-curvo {
        display: none;
    }
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
    h2 {
        font-size: 30px;
    }
    .show-on-mobile {
        display: inline-block;
    }
    .show-on-desktop {
        display: none;
    }
    h1 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width:480px) {
    .section-breadcrumb {
        padding: 14px 0 32px 0;
        /* Modified by German for Defect DE2611, it was before -> padding: 0 0 33px 0; */
    }
}


/* Naresh - Fix logo margin for iphone 5*/

@media (max-width:320px) {
    .logo img {
        margin-left: -20px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
        width: 100%;
    }
}


@media (min-width: 992px) {
    .flex,
    .full-bleed {
        display: flex;
    }
    .flex div {
        align-items: center;
    }
    .container {
        width: 100%;
    }
    .bleed-box1,
    .bleed-box2 {
        flex: 1;
        min-width: 50%;
    }
    .padding-right-25 {
        padding-right: 25px;
    }
    .padding-left-25 {
        padding-left: 25px;
    }
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    /* For tablet - portrait and landscape, we don't want flex for full bleed tile*/
    .full-bleed {
        display: block;
    }    
    /* Moving out of regular tablet media query, as this need to work as portrait in landscape */
    /* right side should be 60, as this is full bleed, rather than 80*/
    .bleed-box1 .content-gutter, .bleed-box2 .content-gutter {
        padding: 35px 60px 35px 40px;
    }
    /* Added to create difference for desktop view, carry over for mobile*/
    .bleed-box1 .content-gutter-with-image, .bleed-box2 .content-gutter-with-image {
        padding: 35px 60px 35px 40px;
    }

    /* For tablet - portrait and landscape, we don't want flex for profile tile*/
    .tiles-wrapper {
        display: block;
    }

    /* We need to make col-md-6 with 100%, else it still shows two columsn in landscpe*/
    .physicianTiles .col-md-6 {
        width: 100%;
    }
}
  

@media (min-width: 768px) {
    .flex1 {
        flex: 1;
    }
    .container {
        width: 100%;
    }
    
    .medium-width {
        max-width: 1250px;
    }
    .custome-dd-outer {
        width: 345px;
    }
}

    
/* Added by German to fix full bleed tile in Mobile for History-timeline.html */

@media all and (max-width: 767px) {
    .fixingTile {
        flex-direction: column;
        width: 100%;
    }
}


/* Added by German to adjust required min-height and min-width for images in full bleed components (Defect DE2684 ) */

@media all and (min-width: 1361px) {
    
    .image-row.required-height-style-1 {
        min-height: 283px;      /* For desktop according to Zeplin */
    }
    .full-image.required-width-style-1 {
        min-width: 355px;       /* For desktop according to Zeplin */
    }
}

@media all and (min-width: 770px) and (max-width: 1360px){
    .image-row.required-height-style-1 {
        min-height: 283px;      /* No variations here for tablet and desktop */
    }
    .full-image.required-width-style-1 {
        min-width: 349px;       /* For tablet according to Zeplin */
        min-height: 313px;      /* For tablet according to Zeplin */
    }
}

@media all and (max-width: 769px) {
    .image-row.required-height-style-1 {
        min-height: 281px;      /* For mobile according to Zeplin */
    }
    .full-image.required-width-style-1 {
        min-width: 300px;       /* For mobile according to Zeplin */
    }
}

/* End of additions for defect DE2684 */