.footer {
    background-color: #e1e6ee;
    padding: 60px 0 60px 0;
    position: relative;
    margin-top: 100px;
}

.newsletter {
    width: 554px;
    height: 260px;
    background-image: linear-gradient(to bottom, #eff2f7, #d3dbe4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: -85px;
    right: 0;
    z-index: 4;
    padding: 25px 35px;
}

.newsletter .content-middle {
    max-width: 100%;
}

form .col-md-3 {
    padding-left: 0;
}

.error .input-box {
    border-color: #E1523D!important;
}

.error-msg {
    color: #E1523D;
    position: absolute;
    bottom: -22px;
    padding-left: 23px;
}

.newsletter input {
    width: 100%;
    background: transparent;
    height: 100%;
    padding-left: 10px;
}

.newsletter-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.newsletter .btn {
    padding: 7px 12px;
}

.newsletter .input-box {
    height: 38px;
    border: solid 2px #ffffff;
    background: transparent;
}

.contact-info {
    padding-top: 30px;
}

.contact-info .arrow-right {
    margin: 0;
    width: 7px;
    height: 7px;
    top: -1px;
}

.contact-info .col-sm-4 a {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 1.7px;
}



/* Footer */

.list-header {
    font-size: 20px;
    color: #426da9;
}

.footer .footer-links a {
    margin: 14px 0;
    display: block;
}

.copyright {
    padding: 14px 0 10px 0;
    font-style: italic;
}

.copyright a {
	color: #53565a;
}

.footer .separator {
    font-style: normal;
    top: 3px;
    font-size: 17px;
}

.visit-txt {
    text-align: right;
}

.small-icons {
    width: 28px;
    height: 26px;
    display: inline-block;
    margin-right: 12px;
}

.icon-instagram {
    background-position: -113px -41px;
}

.icon-fb {
    background-position: -39px -41px;
}

.icon-twitter {
    background-position: -186px -41px;
}

.icon-linkedin {
    background-position: -255px -39px;
}

.icon-youtube {
    background-position: -332px -41px;
}

/* June 1, 2018 Added by Davinder for Compaign landing Page */

.campaignlandingpage .footer {
	margin-top:0px !important;
}

.campaignlandingpage .section {
	margin-bottom:-1.25rem !important;
}
/* End of Additions  */

@media(max-width:1200px) {
    .newsletter {
        width: 500px;
        right: 20px;
    }
    .contact-info .col-md-4 a {
        letter-spacing: normal;
    }
}

@media(max-width:991px) {
    .footer {
        padding-top: 0;
        margin-top: 56px; /* Naresh - matching with Zeplin*/
    }
    .newsletter {
        width: 100%;
        position: relative;
        box-shadow: none;
        padding: 30px 40px 30px 40px;
        height: inherit;
        top: 0;
        right: 0;
    }
    .contact-info {
        padding-top: 15px;
    }
    .newsltter-social {
        padding-top: 15px;
    }

    .contact-info .col-sm-4 {
        text-align: right;
    }
    .footer.section {
        padding: 0 0 10px 0;
    }
    .footer-links {
        padding-top: 25px;
    }
    .visit-txt {
        text-align: left;
        padding-top: 10px;
    }
}

@media(max-width:767px) {
    .error-msg {
        padding-left: 0;
        bottom: -25px;
    }
    .contact-info .col-sm-4 {
        text-align: left;
    }
    .footer {
        margin-top: 56px; /* Naresh - matching with Zeplin*/
    }
    form .col-md-3 {
        padding-left: 15px;
    }
    .login-wrapper .logo {
        width: 157px;
        padding-top: 26px;
    }
    .newsltter-social {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    .newsltter-social a {
        margin-right: 0;
    }
    .login-wrapper .logo img {
        width: 100%;
    }
    .newsletter .content-middle {
        max-width: 100%;
    }
    .newsletter .input-box {
        width: 100%;
    }
    .newsletter button {
        width: 100%;
        margin: 15px 0 0 0;
    }
    .contact-info {
        padding-top: 15px;
    }
    .newsletter {
        height: inherit;
        padding: 30px;
    }
    .footer-links .row .col-md-3:first-child {
        padding-bottom: 15px;
    }
    .footer .separator {
        top: 0;
        font-size: 14px;
    }
    .col-professional {
        padding-top: 20px;
    }
}