<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This version has no margin, used when embedded in other components
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-test.author="${wcmmode.edit || wcmmode.design}"></sly>

<div data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${textModel.text}"
     class="cmp-text ${!author && properties.readMore?'sidebar-box fadeOutAdjustment':''}">
    <p class="cmp-text__paragraph"
       data-sly-unwrap="${textModel.isRichText}">${text @ context =textModel.isRichText ? 'html' : 'text'}
        <p class="read-more" data-sly-test="${!author && properties.readMore}">
            <a href="" class="button learn-more-btn border-orange">
                Read More </a>
        </p>
    </p>
</div>

<sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
