<sly data-sly-use.listCollection="org.chi.aem.common.components.model.ListCollection"
     data-sly-use.template="chinational/components/commons/templates.html"/>


	<label class="button-label" data-sly-test="${properties.linkHeading}">${properties.linkHeading}</label>
    <hr class="dashed-border">
	<div class="related-links">
        <sly data-sly-list="${listCollection.links}">
                <a class="arrow-link-txt small_text_link_site_color" href="${item.linkUrl || '#'}" target="${item.targetBlank==true ?'_blank':'_self'}">
                    ${item.linkText || 'List Component'}
                    <i class="arrow-right"></i>
                </a>
        </sly>
    </div>


<sly data-sly-call="${template.placeholder @ isEmpty=!properties.linkHeading}"></sly>