<sly data-sly-use.imageInfo="org.chi.aem.common.components.model.NewsBlogImageModel"/>

<div class="row"  data-sly-test="${imageInfo.imagePath && !properties.enableWrapAround}">
    <div class="col-sm-12">
        <div class="full-image">
            <div>
                <picture class="image-max-width-responsive">
                    <img src="${imageInfo.imagePath}">
                </picture>
            </div>
            <div class="padding-5" data-sly-test="${pageProperties.imageCaption}">
                <p class="light-txt">${pageProperties.imageCaption}</p>
            </div>
        </div>
    </div>
</div>

<div class="row image-wrape" data-sly-test="${imageInfo.imagePath && properties.enableWrapAround}">
    <img class="image-max-width-responsive"
         src="${imageInfo.imagePath @ context='unsafe'}" />
    <div class="nb-textwrap" data-sly-resource="${'richTextWrap' @ resourceType='chinational/components/content/richText', selectors='embeddedRichText'}">
    </div>
</div>

<div class="row" style="border: 1px solid black;"
     data-sly-test="${(wcmmode.edit || wcmmode.design) && (pageProperties.imageSrc || (pageProperties.tileImageSrc && pageProperties.tileImageOption == 'separateTileImage'))}">
    <h3>Edit Header image, if required (this is displayed during edit mode only)</h3>
    <div data-sly-test="${pageProperties.imageSrc}"
         data-sly-resource="${ @path='nb-header-image', resourceType='chinational/components/content/imageHeaderNewsBlog'}"></div>
    <sly data-sly-test="${pageProperties.tileImageOption == 'editHeaderImage'}">
        <h4>Edit Header Image to create tile image (displayed during edit mode only)</h4>
        <div
                data-sly-resource="${ @path='nb-tile-from-header-image', resourceType='chinational/components/content/imageTileFromHeaderNewsBlog'}"></div>
    </sly>
    <sly data-sly-test="${pageProperties.tileImageSrc && pageProperties.tileImageOption == 'separateTileImage'}">
        <h4>Edit Tile Image (displayed during edit mode only)</h4>
        <div
                data-sly-resource="${ @path='nb-tile-image', resourceType='chinational/components/content/imageTileNewsBlog'}"></div>
    </sly>
</div>
