<div class="section">
	<div class="container">
		<div class="row">
            <sly data-sly-test="${properties.imageOnLeftSide}" data-sly-include="fapimage.html"></sly>
			<div class="${!properties.imageNotRequired?'col-12 col-sm-6 col-lg-6':''}">
				<div class="find-provider-form">
					<h3>${properties.heading}</h3>
					<p class="description">${properties.subheading}</p>
					<div class="form-content" data-sly-resource="${'fapsource' @ resourceType='chinational/components/content/htmlsource'}">
					</div>
				</div>
			</div>
            <sly data-sly-test="${!properties.imageOnLeftSide}" data-sly-include="fapimage.html"></sly>
		</div>
	</div>
</div>
