<sly data-sly-use.template="chinational/components/commons/templates.html"></sly>
<div class="findAProvider">
	<div class="component">
		<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
			<sly data-sly-test="${properties.imageOnLeftSide}" data-sly-include="fapimage.html"></sly>
			<div class="find-provider-form ${properties.imageOnLeftSide ?'left':'right'} col-12 col-sm-6 col-lg-6">
				<h3>${properties.heading}</h3>
				<p class="description">${properties.subheading}</p>
				<div class="form-content" data-sly-resource="${'fapsource' @ resourceType='chinational/components/content/htmlsource'}">
				</div>
			</div>
			<sly data-sly-test="${!properties.imageOnLeftSide}" data-sly-include="fapimage.html"></sly>
		</div>
		<sly data-sly-include="../../commons/bottomOption.html"></sly>
	</div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.heading}"></sly>