<template data-sly-template.item="${@ list, item, itemList}">

<div class="tiles-wrapper col-xs-12 col-md-6  physician_tiles_list" style="display:none;">
    <div class="tile">
        <hr>
        <div class="row tile-inner">
            <div class="tile-img col-xs-5 col-md-4">
               	<img  data-sly-test="${!item.properties.physicianImageNotReqd}" src="${item.properties.imageSrc @ context='unsafe'}" alt="Profile Image" />
            </div>
            <div class="tile-desc  col-xs-7 col-md-8">
                <a data-sly-unwrap = "${item.properties.linkToPageNotReqd}" href="${item.path @ extension='html' || '#'}">
	                <span class="small-heading heading_site_color">${item.properties.physicianName}</span>
                </a>
                <p>${item.properties.physicianExpertise}</p>
            </div>
        </div>
    </div>
</div>
</template>    
