<template data-sly-template.item="${@ list, item, itemList}">

    <div class="tile physician_tiles_list" style="display:none;">
        <hr data-sly-test="${itemList.first || itemList.count == 2}" />
        <div class="tile-inner">
            <div class="tile-img" data-sly-test="${!item.properties.physicianImageNotReqd}">
               	<img src="${item.properties.imageSrc @ context='unsafe'}" alt="Physician Image" />
            </div>
            <div class="tile-desc">
                <a href="${item.path @ extension='html' || '#'}">
	                <span class="small-heading heading_site_color">${item.properties.physicianName}</span>
                </a>
                <p>${item.properties.physicianExpertise}</p>
            </div>
        </div>
        <hr />

    </div>

</template>    
