<sly data-sly-use.physicianTiles="org.chi.aem.common.components.model.PhysicianTiles"
     data-sly-use.template="chinational/components/commons/templates.html"/>

<div class="physicianTiles">
	<div class="component">
		<div class="row ${properties.bottomOption == 'nomargin'?'':'bottom-buffer'}">
	        <sly data-sly-list.item="${physicianTiles.listPhysicianTiles}"
	            data-sly-use.itemTemplate="item.html">
	            <sly data-sly-call="${itemTemplate.item @ list = physicianTiles, item = item, itemList = itemList}"></sly>
	        </sly>
		
            <div class="tiles-wrapper col-xs-12">
                <div class="tile">
                    <div class="tile-inner row">
					    <div class="row link-wrapper col-md-12" data-sly-test="${physicianTiles.listPhysicianTiles}">
					        <a class="learn-more-btn border-orange physician_list_show_more">LOAD MORE</a>
					    </div>
				    </div>
			    </div>
		    </div>
		</div>
	    <sly data-sly-include="../../commons/bottomOption.html"></sly>
	</div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!physicianTiles.listPhysicianTiles}"></sly>