
<div class="form-group">
	<select class="form-control" id="photo-band-form-multiselect"  multiple>
		<option value="Placeholder Text1">Placeholder Text1</option>
		<option value="Placeholder Text2">Placeholder Text2</option>
		<option value="Placeholder Text3">Placeholder Text3</option>
	</select>
</div>
	
<!--/* for single select dropdown
<div class="form-group">
	<select class="form-control photo-band-form-select"  multiple="multiple">
		<option value="Dropdown list" selected="selected">Dropdown list</option>
		<option value="Placeholder Text1">Placeholder Text1</option>
		<option value="Placeholder Text2">Placeholder Text2</option>
		<option value="Placeholder Text3">Placeholder Text3</option>
	</select>
</div>	
*/-->