<sly data-sly-use.optionsCollection="org.chi.aem.common.components.model.SelectOptionsCollection" 
     data-sly-use.template="chinational/components/commons/templates.html"/>

<sly data-sly-test="${properties.optionsType == 'multi-drop-down'}">
	<div class="form-group">
		<select class="form-control" id="photo-band-form-multiselect" name="${properties.optionsName}" multiple required>
		    <sly data-sly-list="${optionsCollection.selectOptionsCollection}">
				<option value="${item.optionValue}">${item.optionText}</option>
			</sly>
		</select>
	</div>
</sly>

<sly data-sly-test="${properties.optionsType == 'drop-down'}">
	<div class="form-group">
		<select class="form-control" id="photo-band-form-select" name="${properties.optionsName}" size="2" required>
		    <sly data-sly-list="${optionsCollection.selectOptionsCollection}">
				<option value="${item.optionValue}">${item.optionText}</option>
			</sly>
		</select>
	</div>	
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=!properties.optionsType}"></sly>