<sly data-sly-use.video="org.chi.aem.common.components.model.Video"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
    <div class="video-container">
        <div class="sub-Thumbs">
            <div class="video">
                <a class="video_popup" id="video" video-url="${video.videoUrl}">
                    <img src="${video.imageUrl}">
                    <i class="sprite small icons icon-play-orange"></i>
                    <!--div class="link-wrapper">
                        <div class="video-button-small" >

                        </div>
                    </div-->
                </a>
            </div>
        </div>
        <!-- Close the Video Contaifner -->
        <div class="media-text">
            <!-- Wrapped the titles and captions were applicable in video text wrapper / Not for large carousel item -->
            <span class="thumb-titles">${video.sectionHeading}</span>
        </div>
    </div>
<sly data-sly-call="${template.placeholder @ isEmpty=!video.videoUrl}"></sly>

