<sly data-sly-use.video="org.chi.aem.common.components.model.Video"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
    <div class="carousel-item item slide tablet desktop" style="width: 452px">
        <div class="flex-box">
            <div class="carousel-description carousel-image">
                <div class="main-player">
                    <div class="v-container">
                        <div class="video">
                            <div class="link-wrapper">
                                <a class="video_popup" id="video" video-url="${video.videoUrl}" style="cursor: pointer;">
                                    <img src="${video.imageUrl}">
                                    <i class="sprite small-icons icon-large-play-orange"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gutter-top media-text">
                        <span class="main-play-title">${video.sectionHeading}</span>

                        <span class="caption">${video.videoText}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<sly data-sly-call="${template.placeholder @ isEmpty=!video.videoUrl}"></sly>

