<sly data-sly-use.video="org.chi.aem.common.components.model.Video"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
    <div class="carousel-item item slide desktop">
        <div class="flex-box">
            <div class="carousel-description carousel-image firstTile">
                <div class="main-player" style="background-color: ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'}; border: 15px solid ${properties.backgroundColor || '#e7e7e7' @ context='styleToken'};">
                    <div class="v-container video">
                        <div class="link-wrapper">
                            <a class="video_popup" id="video" video-url="${video.videoUrl}" style="cursor: pointer;">
                                <img src="${video.imageUrl}">
                                <i class="sprite small-icons icon-large-play-orange"></i>
                                <span class="main-play-title custom-button">${video.sectionHeading}</span>
                            </a>
                        </div>
                    </div>
                    <span class="a-brief-description sub-header-fix" data-sly-test="${video.videoText}">${video.videoText}</span>
                </div>
            </div>
        </div>
    </div>
<sly data-sly-call="${template.placeholder @ isEmpty=!video.videoUrl}"></sly>

