<sly data-sly-use.video="org.chi.aem.common.components.model.Video"
     data-sly-use.template="chinational/components/commons/templates.html"></sly>
    <div class="carousel-item item tablet desktop" style="width: 410px">
        <div class="flex-box">
            <div class="carousel-description carousel-image">
                <div class="main-player">
                    <div class="v-container">
                        <div class="video">
                            <img src="${video.imageUrl}">
                            <div class="link-wrapper">
                                <a class="video-button-small video_popup" id="video" video-url="${video.videoUrl}" style="cursor: pointer;">
                                    <i class="icon-play-small"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="gutter-top">
                        <span class="main-play-title">${video.sectionHeading}</span>

                        <span class="caption">${video.videoText}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<sly data-sly-call="${template.placeholder @ isEmpty=!video.videoUrl}"></sly>

