<div class="gutter-bottom">
   <label class="button-label" data-sly-test="${properties.sectionHeading}">
       ${properties.sectionHeading}
   </label>
</div>

<div class="video">
    <sly data-sly-resource="${'videoimage' @ resourceType='chinational/components/content/image'}"></sly>
    <div class="link-wrapper">
        <a class="video-button" id="video" video-url="${properties.videoUrl}">
            <i class="icon-play"></i>
        </a>
    </div>
</div>

<div class="padding-5" data-sly-test="${properties.videoText}">
    <p class="light-txt">${properties.videoText}</p>
</div>
