<sly data-sly-use.video="org.chi.aem.common.components.model.Video"
        data-sly-use.template="chinational/components/commons/templates.html"></sly>

<label class="button-label" data-sly-test="${video.sectionHeading}">
    ${video.sectionHeading}
</label>
<hr class="dashed-border" data-sly-test="${video.rightRail}" />
<div class="video" data-sly-test="${video.videoUrl}">
    <img src="${video.imageUrl}" >
    <div class="link-wrapper">
        <a class="video-button video_popup" id="video" video-url="${video.videoUrl}">
            <i class="icon-play sprite"></i>
        </a>
    </div>
</div>
<div class="padding-5" data-sly-test="${video.videoText}">
    <p class="light-txt">${video.videoText}</p>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!video.videoUrl}"></sly>
